Repository wundergraph/wundergraph, pull requests merged in 2022-06, with the labels that each got.

#24 chore: move to lerna
  .changeset/README.md
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changesets.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/engine-release-darwin.yaml
  .github/workflows/engine-release-linux.yaml
  .github/workflows/engine-release-windows.yaml
  .github/workflows/labeler.yaml
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release-preview.yaml
  .github/workflows/packages-release.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/wunderctl-release.yaml
  .gitignore
  .husky/commit-msg
  .prettierignore
  docs/release-management/README.md
  lerna.json
  package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/protobuf/CHANGELOG.md
  packages/protobuf/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/wunderctl/README.md
  pnpm-lock.yaml
Labels: npm, sdk, nextjs, types, wunderctl

#27 fix: add test for schema merge conflict, improve error message
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  pnpm-lock.yaml
Labels: npm, sdk

#33 fix(wunderctl): terminated problem on Windows
  packages/wunderctl/src/cli.ts
Labels: npm, wunderctl

#32 feat(server): reimplement bundling, watcher, script runner
  cli/commands/generate.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pkg/bundleconfig/bundleconfig.go
  pkg/bundler/bundler.go
  pkg/node/node.go
  pkg/scriptrunner/scriptrunner.go
  pkg/watcher/watcher.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#38 fix(hooks): pass response correctly, pass input arg when available
  packages/sdk/src/middleware/plugins/hooks.ts
  pkg/apihandler/apihandler.go
  pkg/bundler/bundler.go
Labels: npm, sdk, engine

#40 refactor(hooks)!: refactor hooks interface
  docs/at-a-glance.md
  docs/hooks.md
  docs/migrations/sdk-0.60-0.90.md
  docs/migrations/sdk-0.92.5-0.93.md
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.server.ts
  examples/postgres/.wundergraph/wundergraph.server.ts
  examples/postgres/package.json
  examples/postgres/test.http
  examples/simple/.wundergraph/wundergraph.server.ts
  examples/simple/package.json
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/nextjs-testapp/.wundergraph/wundergraph.server.ts
  packages/nextjs-testapp/README.md
  packages/sdk/package.json
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/client.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/plugins/graphql.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/authentication_test.go
  pkg/hooks/hooks.go
  pkg/middlewareclient/middlewareclient.go
  pkg/node/node.go
  pkg/templates/assets/templates/application/.wundergraph/wundergraph.server.ts
  pkg/templates/assets/templates/nextjs-postgres-starter/.wundergraph/wundergraph.server.ts
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/wundergraph.server.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

#47 fix: trigger server reload after initial config build
  cli/commands/start.go
  cli/commands/up.go
Labels: engine

#50 fix: anonymous query 'operationName' wrong parsing value when null
  pkg/apihandler/apihandler.go
Labels: engine

#42 refactor(nextjs): improve "subscription.stop" using variables instead of hooks
  packages/nextjs-testapp/pages/stoponblur.tsx
  packages/nextjs/src/index.ts
Labels: npm, nextjs

#53 fix: openapi introspection defect
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

#54 feat: improve error message when graphql introspection fails
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

#56 fix: don't (re-)fetch user server & client-side when authentication is disabled
  packages/nextjs-testapp/.wundergraph/operations/ProtectedWeather.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/.wundergraph/wundergraph.server.ts
  packages/nextjs-testapp/package.json
  packages/nextjs-testapp/pages/auth-test.tsx
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/index.ts
Labels: npm, nextjs

#60 fix: inject user properly into global hooks
  examples/inject-bearer/.gitignore
  examples/inject-bearer/.graphqlconfig
  examples/inject-bearer/.wundergraph/operations/Country.graphql
  examples/inject-bearer/.wundergraph/wundergraph.config.ts
  examples/inject-bearer/.wundergraph/wundergraph.operations.ts
  examples/inject-bearer/.wundergraph/wundergraph.server.ts
  examples/inject-bearer/README.md
  examples/inject-bearer/example.env
  examples/inject-bearer/next-env.d.ts
  examples/inject-bearer/next.config.js
  examples/inject-bearer/package.json
  examples/inject-bearer/pages/_app.tsx
  examples/inject-bearer/pages/index.tsx
  examples/inject-bearer/public/favicon.ico
  examples/inject-bearer/tsconfig.json
  pkg/apihandler/apitransport.go
Labels: engine
