Repository wundergraph/wundergraph, pull requests merged in 2022-10, with the labels that each got.

#230 fix: introspection, infinite loop in file changes
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk

#204 fix(sdk): add fastify route only if the hook is configured
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/middleware/types.ts
  packages/sdk/src/webhooks/types.ts
  pnpm-lock.yaml
Labels: npm, sdk

#231 chore: add introspection fetcher with retries
  packages/sdk/package.json
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-fetcher.ts
  pnpm-lock.yaml
Labels: npm, sdk

#228 fix: generate outfile directory should be consistent
  cli/commands/generate.go
Labels: engine

#241 fix: make WunderGraphDir not mandatory for all cmds
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/node.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  cli/commands/start.go
  cli/commands/up.go
Labels: engine

#244 fix(sdk/client): include extra headers from constructor
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
Labels: npm, sdk

#237 chore: add linux/arm64 support
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser.yml
  packages/wunderctl/src/binarypath.ts
Labels: npm, wunderctl

#250 fix: update go tools to properly resolve optional entities
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  go.mod
  go.sum
Labels: engine

#249 fix: incorrect go code generated from JSON models
  .github/workflows/packages-ci.yaml
  packages/golang-client/src/index.ts
Labels: npm

#238 feat: refactor cache handling, move storage out of generated
  .gitignore
  .prettierignore
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  examples/apollo-federation/.gitignore
  examples/auth0-oidc-authentication/.gitignore
  examples/caching/.gitignore
  examples/cross-api-joins/.gitignore
  examples/faunadb-nextjs/.gitignore
  examples/fragments/.gitignore
  examples/golang-client/.gitignore
  examples/graphql-sse-subscriptions/.gitignore
  examples/graphql-yoga-sse-subscriptions/.gitignore
  examples/hooks/.gitignore
  examples/inject-bearer/.gitignore
  examples/keycloak-oidc-authentication/.gitignore
  examples/migrate-from-apollo/.gitignore
  examples/nextjs-postgres-prisma/.gitignore
  examples/nextjs-postgres-user-filters/.gitignore
  examples/nextjs-swr/.gitignore
  examples/nextjs/.gitignore
  examples/postgres/.gitignore
  examples/publish-install-api/.gitignore
  examples/rbac/.gitignore
  examples/simple/.gitignore
  examples/webhooks/.gitignore
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  testapps/default/.gitignore
  testapps/mtls/.gitignore
  testapps/nextjs/.gitignore
  testapps/postgres/.gitignore
Labels: npm, sdk, engine

#239 refactor: start node and server in the same way as with separate comm…
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/node/node.go
  pkg/scriptrunner/scriptrunner.go
  testapps/default/package.json
Labels: engine

#248 fix: live query support in generated web client
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
Labels: npm, sdk

#253 fix: upgrade fsnotify and esbuild
  go.mod
  go.sum
Labels: engine

#255 fix: regression resolving header variables
  go.mod
  go.sum
Labels: engine

#257 fix: correctly generate typenames for nested array objects
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/non_alphanumeric_fields.yaml
Labels: npm, sdk

#232 feat: add configurable per-source timeouts
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/datasources/database/datasource.go
  pkg/datasources/oas/oas_datasource.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/config.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#264 feat: re-export SWR to prevent context issues
  docs-website/src/pages/docs/examples/nextjs-swr.md
  packages/swr/README.md
  packages/swr/src/index.ts
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/nextjs/pages/swr.tsx
Labels: npm

#243 feat: subscriptions, ws connection init hook
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  packages/sdk/src/transformations/index.test.ts
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#254 feat: add ability for the user to comment on the documentation
  docs-website/.env.example
  docs-website/package.json
  docs-website/src/components/Comments.tsx
  docs-website/src/components/Layout.jsx
  docs-website/src/components/ThemeSelector.jsx
  docs-website/src/pages/_app.jsx
  pnpm-lock.yaml
Labels: npm

#265 fix: fix mutations are possibly undefined
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/middleware/internal-client.ts
Labels: npm, sdk

#240 feat: align logging format hooks server and
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/flags.go
  cli/helpers/server_runner.go
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  docs/migrations/sdk-0.115.0-0.116.0.md
  docs/migrations/wunderctl-0.112.0.md
  packages/golang-client/src/index.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/configure/variables.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/index.ts
  packages/sdk/src/internal/index.ts
  packages/sdk/src/linkbuilder/index.test.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/middleware/logger.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/webhooks/types.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/apihandler/api.go
  pkg/logging/logging.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/node/node_test.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#261 feat: improvements to "getting started" docs page
  cli/commands/init.go
  docs-website/README.md
  docs-website/src/pages/getting-started.md
  pkg/templates/templates.go
Labels: engine

#256 feat: allows node to sleep after an idle timeout
  cli/commands/node.go
  cli/commands/start.go
  pkg/httpidletimeout/httpidletimeout.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/node/node.go
Labels: engine

#270 feat: make WunderGraphConfigApplicationConfig.cors optional
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

#273 fix: remove accidentally left Println()
  pkg/datasources/database/engine.go
Labels: engine

#276 feat: add announcement banner
  docs-website/package.json
  docs-website/src/components/AnnouncementBanner.tsx
  docs-website/src/components/Layout.jsx
  docs-website/src/pages/_app.jsx
  docs-website/src/utils/analytics.ts
  pnpm-lock.yaml
Labels: npm

#260 feat: subscriptions, operation hooks
  docs-website/config/navigation.js
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/ws-transport-connection-init-hook.md
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  pkg/apihandler/apihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
Labels: npm, sdk, engine

#274 feat: healthcheck, node and hooks server
  cli/commands/node.go
  cli/commands/start.go
  packages/sdk/src/middleware/server.ts
  pkg/hooks/hooks.go
  pkg/node/buildinfo.go
  pkg/node/node.go
Labels: npm, sdk, engine

#281 chore: wunderctl, update
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#277 Changed missing end_session_endpoint error to an end_session_endpoint…
  pkg/apihandler/apihandler.go
Labels: engine

#285 fix: crash when message.Location is nil
  pkg/bundler/bundler.go
Labels: engine

#296 feat: make idle timer ignore healtcheck endpoint
  pkg/httpidletimeout/httpidletimeout.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/httpidletimeout/options.go
  pkg/node/node.go
Labels: engine

#301 fix: make introspection cache keys change when referenced files change
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

#298 chore: rename X-Cache header to X-Wg-Cache
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
Labels: engine

#304 fix: dont enforce prettyLogging for all commands
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/up.go
Labels: engine
