Repository wundergraph/wundergraph, pull requests merged in 2022-08, with the labels that each got.

#72 feat: extract typescript client from nextjs
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs/package.json
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/index.ts
  packages/sdk/package.json
  packages/sdk/src/client/README.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

#78 feat: replace the legacy client with the new implementation
  docs-website/src/pages/docs/use-cases/enabling-your-organization-to-become-api-first.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
Labels: npm, sdk

#73 fix: nextjs client fails hard when a page misses "withWunderGraph"
  packages/nextjs/src/index.ts
Labels: npm, nextjs

#117 feat(wunderctl): add fragment support to loadoperations
  cli/commands/loadoperations.go
  packages/default-testapp/.wundergraph/fragments/PostFragment.graphql
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
Labels: engine

#123 fix: issue with unhandled hyphens in input names
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/with_path_parameters.yaml
Labels: npm, sdk

#127 feat: implement webhook reverse proxy
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/webhookhandler/webhookhandler.go
  types/protos/wundernode_config.proto
Labels: engine

#128 feat: implement webhooks verifiers
  docs-website/src/pages/docs/examples/fauna-db-nextjs.md
  examples/faunadb-nextjs/README.md
  packages/sdk/src/configure/index.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk

#126 feat: native webhooks support
  README.md
  cli/commands/generate.go
  cli/commands/up.go
  docs-website/src/pages/docs/examples/fauna-db-nextjs.md
  examples/faunadb-nextjs/README.md
  examples/webhooks/.gitignore
  examples/webhooks/.graphqlconfig
  examples/webhooks/.wundergraph/operations/Dragons.graphql
  examples/webhooks/.wundergraph/webhooks/github.ts
  examples/webhooks/.wundergraph/wundergraph.config.ts
  examples/webhooks/.wundergraph/wundergraph.operations.ts
  examples/webhooks/.wundergraph/wundergraph.server.ts
  examples/webhooks/README.md
  examples/webhooks/next-env.d.ts
  examples/webhooks/next.config.js
  examples/webhooks/package.json
  examples/webhooks/public/favicon.ico
  examples/webhooks/tsconfig.json
  go.mod
  go.sum
  packages/default-testapp/.wundergraph/webhooks/github.ts
  packages/default-testapp/.wundergraph/webhooks/stripe.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/local-import.ts
  packages/default-testapp/package.json
  packages/sdk/package.json
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.template.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/plugins/graphql.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/plugins/webhooks.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/middleware/types.ts
  packages/sdk/src/webhooks/index.ts
  packages/sdk/src/webhooks/types.ts
  packages/sdk/src/webhooks/verifiers.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/bundler/bundler.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/webhookhandler/webhookhandler.go
  pkg/webhooks/webhooks.go
  pnpm-lock.yaml
  tsconfig.base.json
  types/protos/wundernode_config.proto
Labels: npm, sdk, engine

#140 fix(watcher): make webhooks and fragments directory optional
  cli/commands/generate.go
  cli/commands/up.go
  pkg/bundler/bundler.go
  pkg/watcher/watcher.go
Labels: engine

#142 fix(generate): exit with code 1 on error
  cli/commands/generate.go
  cli/commands/up.go
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: engine

#144 feat: upgrade graphiql
  pkg/graphiql/graphiql.html
Labels: engine

#139 fix: s3 upload client
  .github/workflows/engine-ci.yaml
  .gitignore
  Makefile
  pkg/s3uploadclient/helpers_test.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/s3uploadclient/s3uploadclient_test.go
  pkg/s3uploadclient/testdata/testdata.go
  scripts/minio-setup.sh
Labels: engine

#143 fix: unify .wundergraph directory resolution
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/datasources/database/engine.go
  pkg/files/files.go
Labels: engine

#146 feat(server): introduce pino base logger
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pnpm-lock.yaml
Labels: npm, sdk

#149 fix(types): make webhooks optional
  .github/workflows/engine-ci.yaml
  CONTRIBUTING.md
  packages/sdk/src/middleware/server.ts
  pkg/s3uploadclient/s3uploadclient_test.go
Labels: npm, sdk, engine

#152 feat: implement userId for fromClaim directive
  Makefile
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  packages/nextjs-testapp/.wundergraph/operations/HelloUser.graphql
  packages/nextjs-testapp/.wundergraph/operations/PastLaunches.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/pages/caching.tsx
  packages/nextjs-testapp/pages/claims.tsx
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine
