Repository wundergraph/wundergraph, pull requests merged in 2022-07, with the labels that each got.

#64 fix(codegen): detect internal input correctly
  examples/cross-api-joins/tsconfig.json
  examples/postgres/tsconfig.json
  examples/publish-install-api/tsconfig.json
  examples/simple/tsconfig.json
  packages/default-testapp/tsconfig.json
  packages/mtls-testapp/tsconfig.json
  packages/nextjs-testapp/.wundergraph/operations/PastLaunches.graphql
  packages/nextjs-testapp/tsconfig.json
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  pkg/templates/assets/templates/application/tsconfig.json
  pkg/templates/assets/templates/publish-api/tsconfig.json
Labels: npm, sdk, engine

#65 fix(start): error when config cant be found
  cli/commands/root.go
  cli/commands/start.go
  pkg/config/config.go
  pkg/files/files.go
Labels: engine

#63 feat: add introspection caching & DataSource polling
  cli/commands/generate.go
  cli/commands/up.go
  packages/default-testapp/.wundergraph/operations/Dragons.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/index.ts
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: npm, sdk, engine

#67 fix: ensure all hooks are called for live queries
  README.md
  cli/commands/start.go
  cli/commands/up.go
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/faunadb-nextjs/pages/index.tsx
  examples/inject-bearer/package.json
  examples/inject-bearer/pages/index.tsx
  examples/nextjs-postgres-prisma/README.md
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-prisma/pages/index.tsx
  examples/nextjs/README.md
  examples/nextjs/package.json
  examples/nextjs/pages/index.tsx
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/simple/package.json
  go.mod
  go.sum
  packages/nextjs/src/handlebar.template.ts
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/templates/assets/templates/nextjs-postgres-starter/pages/index.tsx
Labels: npm, nextjs, engine

#68 fix: restart hooks server, ensure __wg exists
  .github/workflows/packages-ci.yaml
  .github/workflows/packages-release.yaml
  cli/commands/generate.go
  cli/commands/up.go
  package.json
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/middleware/internal-client.ts
  packages/sdk/src/middleware/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/bundler/bundler.go
  pkg/scriptrunner/scriptrunner.go
Labels: npm, sdk, engine

#69 fix: break request on hook error, improve logging
  pkg/apihandler/apihandler.go
Labels: engine

#71 fix: split user and id token due to size, add auth0 example
  examples/auth0-oidc-authentication/.example.env
  examples/auth0-oidc-authentication/.gitignore
  examples/auth0-oidc-authentication/.graphqlconfig
  examples/auth0-oidc-authentication/.wundergraph/operations/Country.graphql
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.operations.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/auth0-oidc-authentication/README.md
  examples/auth0-oidc-authentication/next-env.d.ts
  examples/auth0-oidc-authentication/package.json
  examples/auth0-oidc-authentication/pages/_app.tsx
  examples/auth0-oidc-authentication/pages/index.tsx
  examples/auth0-oidc-authentication/public/favicon.ico
  examples/auth0-oidc-authentication/tsconfig.json
  pkg/authentication/authentication.go
Labels: engine

#75 feat: use headersobject for transport hooks
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/server.ts
Labels: npm, sdk

#77 feat: kill middleware process on wunderctl up start
  Makefile
  cli/commands/up.go
Labels: engine

#70 chore: fix typo
  CONTRIBUTING.md
  packages/default-testapp/yarn.lock
Labels: npm

#81 fix: handle cli paths correctly
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/start.go
  cli/commands/up.go
  examples/simple/.wundergraph/operations/Hello.graphql
  examples/simple/.wundergraph/wundergraph.config.ts
  pkg/bundler/bundler.go
  pkg/files/files.go
  pkg/scriptrunner/scriptrunner.go
Labels: engine

#88 fix: #86 support pnpm 7.5+
  package.json
Labels: npm

#104 chore: do not use NPM for docs as it is a pnpm workspace
  Makefile
  pnpm-lock.yaml
Labels: npm
