Repository wundergraph/wundergraph, pull requests merged in 2022-09, with the labels that each got.

#153 feat: add dev mode so that cookie secrets stay static
  cli/commands/up.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

#157 fix: subscriptions, add X-Accel-Buffering by default
  examples/apollo-federation/.wundergraph/operations/PriceUpdates.graphql
  pkg/apihandler/apihandler.go
Labels: engine

#161 feat: don't exit, throw error and handle at root
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/middleware/server.ts
Labels: npm, sdk

#162 fix: subscription url config
  packages/sdk/src/definition/index.ts
  pkg/engineconfigloader/engineconfigloader.go
Labels: npm, sdk, engine

#160 feat(node): implement api config validation for cookie-based auth
  .prettierignore
  pkg/apiconfig/apiconfig.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  pkg/validate/validator.go
  pkg/validate/validator_test.go
Labels: engine

#164 fix: fixes open api errors for int based enums and json fields
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/users.json
Labels: npm, sdk

#167 feat: ensure that user is always set in auth hooks, disable introspection cache in `wunderctl generate`
  .github/workflows/packages-ci.yaml
  Makefile
  cli/commands/generate.go
  cli/commands/start.go
  cli/commands/up.go
  package.json
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/mtls-testapp/package.json
  packages/nextjs-testapp/package.json
  packages/postgres-testapp/package.json
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/plugins/graphql.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  packages/sdk/src/middleware/types.ts
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  scripts/pnpm.sh
Labels: npm, sdk, engine

#168 feat: move generated proto types into pkg/wgpb
  go.mod
  pkg/apiconfig/apiconfig.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/loadvariable/loadvariable.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/postresolvetransform/postresolvetransform.go
  pkg/postresolvetransform/postresolvetransform_test.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  pkg/webhookhandler/webhookhandler.go
  pkg/wgpb/wundernode_config.pb.go
  pkg/wundergraphapi/client.go
  types/generate.sh
  types/go.mod
  types/go.sum
  types/protos/wundernode_config.proto
Labels: engine

#171 fix: improve hooks error handling
  pkg/authentication/authentication.go
Labels: engine

#173 feat: improve webhook types
  cli/commands/up.go
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  examples/webhooks/.wundergraph/webhooks/github.ts
  packages/default-testapp/.wundergraph/webhooks/github.ts
  packages/sdk/src/index.ts
  packages/sdk/src/webhooks/index.ts
  packages/sdk/src/webhooks/types.ts
  pkg/webhooks/webhooks.go
Labels: npm, sdk, engine

#170 feat: add golang client
  docs-website/src/pages/docs/supported-backend-languages-frameworks/golang-go.md
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  go.mod
  lerna.json
  packages/default-testapp/.wundergraph/operations/SetField.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/.wundergraph/wundergraph.server.ts
  packages/default-testapp/package.json
  packages/golang-client/.npmignore
  packages/golang-client/README.md
  packages/golang-client/package.json
  packages/golang-client/src/client-template.ts
  packages/golang-client/src/index.ts
  packages/golang-client/tsconfig.json
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/typescript/forms.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/linkbuilder.ts
  packages/sdk/src/codegen/templates/typescript/operations.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/internal/index.ts
  pkg/apihandler/apitransport.go
  pnpm-lock.yaml
  types/go/wgpb/wundernode_config.pb.go
Labels: npm, sdk, engine

#175 fix: dont exit on bundle errors in dev
  pkg/bundler/bundler.go
Labels: engine

#178 feat: oidc, allow passing additional query parameters to the IDP
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/keycloak-openid-connect-authentication.md
  examples/keycloak-oidc-authentication/.env.example
  examples/keycloak-oidc-authentication/.gitignore
  examples/keycloak-oidc-authentication/.graphqlconfig
  examples/keycloak-oidc-authentication/.wundergraph/operations/Country.graphql
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.operations.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.server.ts
  examples/keycloak-oidc-authentication/README.md
  examples/keycloak-oidc-authentication/docker-compose.yml
  examples/keycloak-oidc-authentication/keycloak/realm.json
  examples/keycloak-oidc-authentication/next-env.d.ts
  examples/keycloak-oidc-authentication/package.json
  examples/keycloak-oidc-authentication/pages/_app.tsx
  examples/keycloak-oidc-authentication/pages/index.tsx
  examples/keycloak-oidc-authentication/public/favicon.ico
  examples/keycloak-oidc-authentication/tsconfig.json
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/authentication.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/authentication/oidc.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#182 feat: custom stable hash function for js values
  packages/sdk/README.md
  packages/sdk/src/client/index.ts
  packages/sdk/src/internal/index.ts
  packages/sdk/src/utils/hash.ts
  packages/sdk/src/utils/helper.ts
  packages/sdk/src/utils/serialize.test.ts
  packages/sdk/src/utils/serialize.ts
Labels: npm, sdk

#183 feat: allow templates in baseURL for openapi
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-openapi-rest-data-source.md
  packages/default-testapp/.wundergraph/operations/JSP.graphql
  packages/default-testapp/.wundergraph/operations/Join.graphql
  packages/default-testapp/.wundergraph/operations/Post.graphql
  packages/default-testapp/.wundergraph/operations/Posts.graphql
  packages/default-testapp/.wundergraph/wundergraph.config.ts
  packages/default-testapp/json_placeholder.json
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/dynamic_baseurl.json
  pkg/wgpb/wundernode_config.pb.go
Labels: npm, sdk, engine

#176 fix: update User interface on client to parse json correctly
  packages/sdk/src/client/index.ts
Labels: npm, sdk

#187 chore: switch baseURL to be string
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#190 chore: revert protobuf changes for open api base url as a string
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#179 feat: make typescript client typesafe
  lerna.json
  package.json
  packages/golang-client/src/index.ts
  packages/nextjs-testapp/.wundergraph/operations/PastLaunches.graphql
  packages/nextjs-testapp/.wundergraph/wundergraph.config.ts
  packages/nextjs-testapp/package.json
  packages/nextjs-testapp/pages/authentication.tsx
  packages/nextjs-testapp/pages/caching.tsx
  packages/nextjs-testapp/pages/swr.tsx
  packages/nextjs-testapp/pages/upload.tsx
  packages/nextjs-testapp/public/react.svg
  packages/nextjs/README.md
  packages/nextjs/package.json
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/template.ts
  packages/nextjs/src/types.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client/GraphQLResponseError.ts
  packages/sdk/src/client/README.md
  packages/sdk/src/client/ResponseError.ts
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/forms.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/react.native.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/index.ts
  packages/sdk/src/internal/index.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/swr/README.md
  packages/swr/package.json
  packages/swr/src/hooks.ts
  packages/swr/src/index.ts
  packages/swr/tsconfig.json
  packages/type-tests/README.md
  packages/type-tests/package.json
  packages/type-tests/test/client.test-d.ts
  packages/type-tests/test/swr.test-d.ts
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

#192 docs: added docs and example
  docs-website/config/navigation.js
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-swr.md
  examples/nextjs-postgres-user-filters/next.config.js
  examples/nextjs-swr/.gitignore
  examples/nextjs-swr/.graphqlconfig
  examples/nextjs-swr/.wundergraph/operations/Dragons.graphql
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-swr/.wundergraph/wundergraph.operations.ts
  examples/nextjs-swr/.wundergraph/wundergraph.server.ts
  examples/nextjs-swr/README.md
  examples/nextjs-swr/lib/wundergraph.ts
  examples/nextjs-swr/next-env.d.ts
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/_app.tsx
  examples/nextjs-swr/pages/index.tsx
  examples/nextjs-swr/pages/ssr.tsx
  examples/nextjs-swr/public/favicon.ico
  examples/nextjs-swr/tsconfig.json
  examples/nextjs/next.config.js
  packages/nextjs-testapp/next.config.js
Labels: npm

#197 fix(swr): reset user cache after logout
  packages/swr/src/hooks.ts
Labels: npm

#196 feat: add post logout hook
  docs-website/config/navigation.js
  docs-website/src/pages/docs/wundergraph-server-ts-reference/index.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-logout-hook.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/middleware/plugins/hooks.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/hooks/hooks.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/nextjs/.wundergraph/wundergraph.server.ts
  testapps/nextjs/pages/auth-test.tsx
  testapps/nextjs/pages/authentication.tsx
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#198 fix: use node url in graphiql apiUrl
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/config.go
Labels: engine

#199 chore: update wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#202 chore: fix signals handling for cli up
  cli/commands/root.go
  cli/commands/up.go
  cli/helpers/process.go
  go.mod
  go.sum
  pkg/node/node.go
Labels: engine

#203 fix: avoid logging file contents during uploads (#201)
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
Labels: engine

#205 chore: update wunderctl
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#208 fix(cache): dont print dev messages in prod mode
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

#209 fix(codegen): resolve template dependencies recursively
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.test.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.ts
Labels: npm, sdk

#207 fix: allow to configure internal and public node urls separately
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#212 chore: update log msg
  pkg/node/node.go
Labels: engine

#216 fix(authentication): userInfoEndpoint should be optional for token auth providers
  pkg/authentication/authentication.go
Labels: engine

#214 feat: add graphql introspection middleware
  docs-website/config/tags.js
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-apollo-federation-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-graphql-data-source.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/headers-builder.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/graphql/federation.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

#220 fix: sync path of prisma introspection and prisma runtime
  Makefile
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/install-prisma-dependencies.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/node.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/datasources/database/datasource.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/hybrid_engine.go
  pkg/datasources/database/hybrid_engine_binary.go
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/node.go
  pkg/node/node_test.go
  testapps/default/.wundergraph/Chinook.sqlite
  testapps/default/.wundergraph/db.sqlite
  testapps/default/.wundergraph/operations/Albums.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: engine

#217 feat: sse subscriptions configuration
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  pkg/apihandler/apitransport.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#222 fix: synchronize prisma install for multiple prisma datasources
  packages/sdk/src/db/introspection.ts
Labels: npm, sdk

#221 chore: wunderctl, update
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#223 chore: update, graphql-go-tools
  go.mod
  go.sum
Labels: engine

#226 fix: re-enable to specify wundergraph dir via arg
  cli/commands/generate.go
  cli/commands/up.go
  packages/sdk/src/wunderctlexec/index.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine
