Repository wundergraph/wundergraph, pull requests merged in 2022-12, with the labels that each got.

#390 fix: replace graphql-weather-api.herokuapp.com with our own copy
  docs-website/src/pages/docs/architecture/manage-api-dependencies-explicitly.md
  docs-website/src/pages/docs/architecture/wundergraph-explained-in-one-sequence-diagram.md
  docs-website/src/pages/docs/directives-reference/export-directive.md
  docs-website/src/pages/docs/examples/cross-api-joins.md
  docs-website/src/pages/docs/features/cross-api-joins-to-compose-apis.md
  docs-website/src/pages/docs/use-cases/api-composition-and-integration.md
  docs-website/src/pages/docs/use-cases/backend-for-frontend.md
  examples/cross-api-joins/.wundergraph/wundergraph.config.ts
  examples/publish-install-api/.wundergraph/wundergraph.config.ts
  packages/sdk/src/definition/merge.test.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk

#374 feat: make detecting invalid operations easier
  cli/commands/generate.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/middleware/plugins/hooks.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/loadoperations/loader.go
  pkg/node/config.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#396 feat: upgrade to Node.js LTS (18)
  .github/actions/node/action.yaml
  CONTRIBUTING.md
  go.mod
  go.sum
  pkg/bundler/bundler.go
Labels: engine

#399 chore(release): bump wunderctl dependency in sdk to 0.119.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#415 fix: rest datasource post body arguments
  go.mod
  go.sum
Labels: engine

#409 fix: use the version from package.json for the --version command
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/index.ts
Labels: npm

#417 chore: increase wunderctl dep in SDK to 0.119.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#345 feat: add WunderGraph testing library
  docs-website/config/navigation.js
  docs-website/src/pages/docs/guides/testing.md
  examples/openapi-mocking/package.json
  examples/openapi-mocking/test.ts
  examples/simple/package.json
  examples/simple/test/index.test.ts
  packages/sdk/package.json
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/testing.template.ts
  packages/sdk/src/codegen/templates/typescript/testing.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/wunderctlexec/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

#432 fix: add missing dependency to our nextjs package
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: npm, nextjs

#420 chore: remove version numbers from generated PB Go file
  pkg/wgpb/wundernode_config.pb.go
  types/generate.sh
Labels: engine

#434 fix: nextjs-swr example
  examples/nextjs-swr/pages/ssr.tsx
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#424 feat: implement telemetry
  cli/commands/add.go
  cli/commands/generate.go
  cli/commands/login.go
  cli/commands/logout.go
  cli/commands/node.go
  cli/commands/publish.go
  cli/commands/remove.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  cli/commands/userinfo.go
  cli/helpers/flags.go
  docs/wunderhub.md
  examples/cross-api-joins/.wundergraph/wundergraph.config.ts
  examples/expo-swr/.expo/README.md
  examples/publish-install-api/.gitignore
  examples/publish-install-api/.graphqlconfig
  examples/publish-install-api/.wundergraph/operations/DragonsAndWeather.graphql
  examples/publish-install-api/.wundergraph/wundergraph.config.ts
  examples/publish-install-api/.wundergraph/wundergraph.manifest.json
  examples/publish-install-api/README.md
  examples/publish-install-api/package.json
  examples/publish-install-api/tsconfig.json
  go.mod
  go.sum
  packages/sdk/src/configure/__snapshots__/index.test.ts.snap
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/index.ts
  pkg/cli/auth/auth.go
  pkg/config/config.go
  pkg/manifest/fixtures/render_integrations.golden
  pkg/manifest/manifest.go
  pkg/manifest/manifest_test.go
  pkg/telemetry/client.go
  pkg/telemetry/client_test.go
  pkg/telemetry/metrics.go
  pkg/v2wundergraphapi/client.go
  pkg/wundergraphapi/client.go
Labels: npm, sdk, engine

#401 fix: close ristretto cache when reconfiguring node
  pkg/apicache/apicache.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

#365 fix: make prisma engine exit cleanly
  .github/workflows/packages-ci.yaml
  pkg/datasources/database/engine.go
Labels: engine

#444 fix: handle telemetry flag correctly
  cli/commands/root.go
Labels: engine

#411 fix: use of arguments default values
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  testapps/default/.wundergraph/operations/SdlField.graphql
  testapps/default/.wundergraph/operations/WeatherWithDefault.graphql
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: engine

#446 feat: update SWR to v2 🥳
  docs-website/src/pages/docs/clients-reference/nextjs.md
  docs-website/src/pages/docs/clients-reference/swr.md
  docs/migrations/nextjs-0.3.0-0.4.0.md
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/README.md
  packages/nextjs/package.json
  packages/swr/README.md
  packages/swr/package.json
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

#445 feat: add esm support to react query
  packages/react-query/package.json
  packages/react-query/tsconfig.build.json
  packages/react-query/tsconfig.json
  pnpm-lock.yaml
Labels: npm

#451 feat: listen on both IPv4 and IPv6 by default
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/examples/graphql-sse-subscriptions.md
  docs-website/src/pages/docs/examples/graphql-subscriptions-hooks.md
  docs-website/src/pages/docs/examples/graphql-yoga-subscriptions.md
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  docs-website/src/pages/docs/features/type-script-webhooks-to-integrate-third-party-applications.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-s3-file-upload-providers.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  docs/wunderctl.md
  docs/wundernode.md
  examples/graphql-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-sse-subscriptions/README.md
  examples/graphql-sse-subscriptions/gql-sse/server.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.config.ts
  examples/graphql-subscriptions-hooks/README.md
  examples/graphql-subscriptions-hooks/graphql-ws/server.ts
  examples/graphql-ws-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-ws-subscriptions/graphql-ws/server.ts
  examples/graphql-yoga-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-yoga-sse-subscriptions/README.md
  examples/graphql-yoga-sse-subscriptions/yoga/server.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/s3uploadclient/helpers_test.go
  pnpm-lock.yaml
  scripts/minio-setup.sh
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/minio/setup.sh
  testapps/nextjs/pages/react-query/upload.tsx
  testapps/nextjs/pages/upload.tsx
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

#456 fix: csrf and authenticated uploads
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  packages/sdk/src/client/client.ts
  pkg/apihandler/apihandler.go
Labels: npm, sdk, engine

#428 feat(ci): add CI workflow for examples
  .github/workflows/examples-ci.yaml
  cli/helpers/cache.go
  examples/README.md
  examples/apollo-federation/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-apollo-subscriptions/test/index.test.ts
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-ws-subscriptions/test/index.test.ts
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/postgres/package.json
  examples/schema-extension/package.json
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/testing/index.ts
  pkg/datasources/database/engine.go
  pnpm-lock.yaml
  scripts/test-examples/all.sh
  scripts/test-examples/collect.sh
  scripts/test-examples/single.sh
Labels: npm, sdk, engine

#462 fix: detect server ready when the hooks server health check is disabled
  packages/sdk/src/testing/index.ts
Labels: npm, sdk

#471 chore: bump wunderctl dependency to >= 0.121
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#419 feat: better error messages when resolving undefined variables
  packages/sdk/src/configure/variables.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk

#467 fix: use github token for getTags API to increase the rate limit
  .github/workflows/packages-ci.yaml
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/example.env
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  pnpm-lock.yaml
Labels: npm

#480 fix: update outdated pnpm lockfile
  pnpm-lock.yaml
Labels: npm

#483 fix(create): move dotenv from devDependencies to dependencies
  packages/create-wundergraph-app/package.json
  pnpm-lock.yaml
Labels: npm

#485 feat: find WG context based on config file
  cli/commands/root.go
  pkg/files/files.go
Labels: engine

#477 feat: add @removeNullVariables directives
  docs-website/src/pages/docs/directives-reference/index.md
  docs-website/src/pages/docs/directives-reference/remove-null-variables-directive.md
  go.mod
  go.sum
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/errors.go
  pkg/apihandler/internalapihandler.go
  pkg/node/node_test.go
Labels: npm, sdk, engine

#493 fix(node): listening on tcp4 for 0.0.0.0
  Makefile
  pkg/node/node.go
Labels: engine

#499 fix: use 0.0.0.0 for test server
  packages/sdk/src/testing/index.ts
Labels: npm, sdk

#497 feat(node)!: restructure server imports
  cli/commands/generate.go
  cli/commands/root.go
  go.mod
  go.sum
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client/README.md
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/index.ts
  packages/sdk/src/internal/README.md
  packages/sdk/src/server/README.md
  packages/sdk/src/server/client.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/internal-client.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/plugins/hooks.test.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/src/server/util.ts
  packages/sdk/src/transformations/schema.test.ts
  packages/sdk/src/transformations/schema.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/webhooks/index.ts
  packages/sdk/src/webhooks/types.ts
  pkg/bundler/bundler.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/SdlField.graphql
  testapps/default/.wundergraph/webhooks/github.ts
  testapps/default/.wundergraph/webhooks/stripe.ts
  testapps/default/.wundergraph/wundergraph.server.ts
  testapps/default/package.json
  testapps/mtls/.env.example
  testapps/mtls/.wundergraph/wundergraph.server.ts
  testapps/mtls/README.md
  testapps/mtls/package.json
  testapps/nextjs/.wundergraph/wundergraph.server.ts
  testapps/postgres/.wundergraph/.graphqlconfig
  testapps/postgres/.wundergraph/wundergraph.server.ts
  testapps/postgres/README.md
  testapps/postgres/package.json
  testapps/vite/.wundergraph/wundergraph.server.ts
Labels: npm, sdk, engine

#441 chore(RFC): typesafe environment variables
  rfc/typesafe-env-vars/[RFC] typesafe env vars - 001 - Pagebakers.md
Labels: RFC

#508 feat: copy wunderctl bin to wundergraph home dir
  packages/wunderctl/README.md
  packages/wunderctl/src/installer.ts
Labels: npm, wunderctl
