Repository wundergraph/wundergraph, pull requests merged in 2022-11, with the labels that each got.

#309 fix: skip introspection cache when OpenAPI source is a file
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

#308 feat: add root path and UI
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
  pkg/node/nodetemplates/template.go
Labels: engine

#313 fix: health check with retry client
  pkg/hooks/hooks.go
  pkg/node/buildinfo.go
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
Labels: engine

#314 feat: improve server graceful shutdown
  cli/commands/node.go
  cli/commands/server.go
  cli/commands/start.go
  packages/sdk/package.json
  packages/sdk/src/middleware/server.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

#302 feat: sdk, support schema extension
  docs-website/config/navigation.js
  docs-website/src/pages/docs/core-concepts/api-namespacing.md
  docs-website/src/pages/docs/examples/hello-world.md
  docs-website/src/pages/docs/examples/index.md
  docs-website/src/pages/docs/examples/nextjs-swr.md
  docs-website/src/pages/docs/examples/nextjs.md
  docs-website/src/pages/docs/examples/schema-extension.md
  docs-website/src/pages/docs/features/api-namespacing.md
  docs-website/src/pages/docs/guides/extend-json-fields-with-more-specific-types.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-schema-extension.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/index.md
  examples/caching/.wundergraph/wundergraph.config.ts
  examples/fragments/.wundergraph/wundergraph.config.ts
  examples/hooks/.wundergraph/wundergraph.config.ts
  examples/migrate-from-apollo/.wundergraph/wundergraph.config.ts
  examples/nextjs-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/rbac/.wundergraph/wundergraph.config.ts
  examples/rbac/README.md
  examples/schema-extension/.gitignore
  examples/schema-extension/.wundergraph/.graphqlconfig
  examples/schema-extension/.wundergraph/operations/Space.graphql
  examples/schema-extension/.wundergraph/operations/User.graphql
  examples/schema-extension/.wundergraph/operations/Users.graphql
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  examples/schema-extension/.wundergraph/wundergraph.operations.ts
  examples/schema-extension/.wundergraph/wundergraph.server.ts
  examples/schema-extension/README.md
  examples/schema-extension/database.env
  examples/schema-extension/docker-compose.yml
  examples/schema-extension/init.sql
  examples/schema-extension/package.json
  examples/schema-extension/tsconfig.json
  examples/webhooks/.wundergraph/wundergraph.config.ts
  packages/sdk/src/db/__snapshots__/introspection.test.ts.snap
  packages/sdk/src/db/introspection.test.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/db/testdata/schema.graphql.file
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/schema.ts
  packages/sdk/src/transformations/__snapshots__/schema.test.ts.snap
  packages/sdk/src/transformations/schema.test.ts
  packages/sdk/src/transformations/shema.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/users_meta.json
  pkg/templates/assets/templates/nextjs-starter/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
Labels: npm, sdk

#315 feat: eng 640 compose subgraphs without apollo dependencies
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/testdata/introspection.json
  pnpm-lock.yaml
Labels: npm, sdk, types

#300 feat: ensure wunderctl always call the same copy when calling itself
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  packages/wunderctl/src/binarypath.ts
Labels: npm, wunderctl, engine

#316 chore: wunderctl, update
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#307 feat: createClient now returns typesafe client
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#318 chore: improve error handling
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: engine

#324 fix: set upload type when s3 is not configured
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#293 fix: operation metadata in react provider
  packages/sdk/src/codegen/templates/typescript/react.native.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
Labels: npm, sdk

#326 fix(oas): use primitive schema references as the field schema
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/users.json
Labels: npm, sdk

#327 fix: errors when wundergraph.server.ts does not exist
  cli/commands/generate.go
  cli/commands/up.go
  packages/sdk/src/definition/merge.ts
  pkg/engineconfigloader/engineconfigloader.go
Labels: npm, sdk, engine

#330 fix: make baseURL optional
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#305 feat: improved SWR hooks api, useMutation result no longer cached and updated to SWR 2.0
  docs-website/src/pages/docs/examples/nextjs-swr.md
  docs/migrations/swr-0.4.0-0.5.0.md
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/swr/README.md
  packages/swr/jest-setup.ts
  packages/swr/jest.config.js
  packages/swr/package.json
  packages/swr/src/hooks.test.tsx
  packages/swr/src/hooks.ts
  packages/swr/src/index.ts
  packages/swr/src/types.ts
  packages/type-tests/package.json
  packages/type-tests/test/swr.test-d.ts
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/operations/Countdown.graphql
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/lib/wundergraph.ts
  testapps/nextjs/package.json
  testapps/nextjs/pages/api/graphql.ts
  testapps/nextjs/pages/swr/index.tsx
  testapps/nextjs/pages/swr/mutation.tsx
  testapps/nextjs/pages/swr/query.tsx
  testapps/nextjs/pages/swr/subscription.tsx
Labels: npm, sdk

#333 fix: update code generation
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/markdown/authentication.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/dotgraphqlconfig/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/middleware/server.ts
  packages/sdk/src/postman/builder.ts
Labels: npm, sdk

#334 chore(release): update to wunderctl 0.116.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#320 feat: add create-wundergraph-app command
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/package-lock.json
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/createDirectory.ts
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoInfo.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/helpers/validateBranch.ts
  packages/create-wundergraph-app/src/index.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
  packages/create-wundergraph-app/tsconfig.json
  pnpm-lock.yaml
Labels: npm

#323 feat: logging, request id
  cli/commands/generate.go
  cli/commands/introspect.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  cli/helpers/process.go
  cli/helpers/server_runner.go
  go.mod
  packages/sdk/src/middleware/server.ts
  pkg/apicache/apicache.go
  pkg/apicache/apicache_test.go
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/oidc.go
  pkg/bundler/bundler.go
  pkg/cli/auth/auth.go
  pkg/datasources/database/datasource.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/hybrid_engine_binary.go
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/hooks/hooks.go
  pkg/logging/logging.go
  pkg/manifest/manifest.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/scriptrunner/scriptrunner.go
  pkg/v2wundergraphapi/client.go
  pkg/watcher/watcher.go
  pkg/webhookhandler/webhookhandler.go
  pkg/wundergraphapi/client.go
Labels: npm, sdk, engine

#342 feat: add better error messages for input validation
  pkg/apihandler/apihandler.go
  pkg/inputvariables/validator.go
  pkg/inputvariables/validator_test.go
  pkg/node/fixtures/top products with invalid query as wg variables.golden
  pkg/node/fixtures/top products with invalid query.golden
  pkg/node/fixtures/top products with query as wg variables.golden
  pkg/node/node_test.go
Labels: engine

#336 feat: sdk, schema extension fields config
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/transformations/schema.test.ts
  packages/sdk/src/transformations/shema.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/testdata/fusion.yaml
  packages/sdk/src/v2openapi/testdata/petstore.yaml
  packages/sdk/src/v2openapi/testdata/stripe_query.yaml
  packages/sdk/src/v2openapi/testdata/weather.yaml
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#346 fix: fix the filter while extracting the cloned repository
  packages/create-wundergraph-app/src/helpers/download.ts
Labels: npm

#348 chore: bump versions for next release
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-swr/package.json
  examples/nextjs/package.json
  examples/postgres/package.json
  examples/publish-install-api/package.json
  examples/rbac/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#354 fix: authentication path prefix
  docs-website/src/pages/docs/supported-backend-languages-frameworks/nodejs-typescript.md
  pkg/authentication/oidc.go
Labels: engine

#356 chore(release): bump wunderctl dependency in sdk to 0.118.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#359 chore: update vite testapp with all swr hooks
  packages/nextjs/src/with-wundergraph.test.tsx
  pnpm-lock.yaml
  testapps/vite/.wundergraph/wundergraph.config.ts
  testapps/vite/package.json
  testapps/vite/src/App.tsx
  testapps/vite/src/components/AuthenticatedWeather.tsx
  testapps/vite/src/components/GenerateUsername.tsx
  testapps/vite/src/components/Home.tsx
  testapps/vite/src/components/Mocks.tsx
  testapps/vite/src/components/ProtectedLiveWeather.tsx
  testapps/vite/styles/Home.module.css
  testapps/vite/styles/globals.css
Labels: npm, nextjs

#360 fix: generate all required templates
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/index.ts
Labels: npm, sdk, nextjs

#350 fix: fix the background of comments
  docs-website/package-lock.json
  docs-website/package.json
  pnpm-lock.yaml
Labels: npm

#349 feat(create-wundergraph-app): download latest tag instead of main
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
Labels: npm

#370 fix: stop wunderctl on normalization errors, exit with non-zero
  packages/sdk/src/graphql/operations.ts
Labels: npm, sdk

#371 fix: remove colors from configurePublishWunderGraphAPI()
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

#363 chore: improve deprecating warning message
  pkg/apihandler/apihandler.go
Labels: engine

#373 fix: validate OpenID discovered configuration, warn when appropriate
  pkg/apihandler/apihandler.go
Labels: engine
