Repository wundergraph/wundergraph, pull requests merged in 2023-05, with the labels that each got.

#916 feat: add support for reading OpenAPI error responses
  packages/sdk/src/client/errors.ts
  packages/sdk/src/client/index.ts
  packages/testsuite/apps/openapi/.gitignore
  packages/testsuite/apps/openapi/.graphqlrc.yaml
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/NewNote.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/testsuite/apps/openapi/test-setup.ts
  packages/testsuite/apps/openapi/tsconfig.json
  packages/testsuite/package.json
  packages/testsuite/vitest.workspace.ts
  pnpm-lock.yaml
Labels: npm, sdk

#926 feat: mocking error handling improvements
  docs-website/src/pages/docs/guides/mocking.md
  packages/sdk/src/codegen/templates/typescript/testing.template.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/test-servers.ts
  packages/testsuite/apps/mock/test/mock-datasource.test.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
  packages/testsuite/apps/mock/test/start-stop-servers.test.ts
Labels: npm, sdk

#917 feat: document hooks server architecture + protocol
  docs-website/config/navigation.tsx
  docs-website/package.json
  docs-website/src/pages/docs/architecture/index.md
  docs-website/src/pages/docs/architecture/wundergraph-server.md
  pkg/hooks/pipeline.go
  pnpm-lock.yaml
Labels: npm, engine

#925 fix: avoid generated typenames conflicts between <opName> and <opName>Internal
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/Weather.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/functions/CountryWeatherViaInternal.ts
  packages/testsuite/apps/basic/.wundergraph/operations/internal/CountryWeather.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/nested/Internal.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/nested/InternalWrapper.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

#929 fix: add enum fields from OAS to WG Graph
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

#930 fix: don't skip second level operations in Postman collections, skip internal
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.test.ts
  packages/sdk/src/postman/builder.ts
Labels: npm, sdk

#912 chore: port to new graphql-go-tools Context API
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  pkg/datasources/database/datasource.go
  pkg/hooks/pipeline.go
  pkg/pool/pool.go
Labels: engine

#936 fix: print error reason when create-wundergraph-app fails
  packages/create-wundergraph-app/src/index.ts
Labels: npm

#927 feat: update code generation to generate all typescript templates
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  examples/astro/.wundergraph/wundergraph.config.ts
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/caching/.wundergraph/wundergraph.config.ts
  examples/cross-api-joins/.wundergraph/wundergraph.config.ts
  examples/expo-swr/.wundergraph/wundergraph.config.ts
  examples/faunadb-nextjs/.wundergraph/wundergraph.config.ts
  examples/fragments/.wundergraph/wundergraph.config.ts
  examples/golang-client/.wundergraph/wundergraph.config.ts
  examples/graphql-apollo-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-hasura-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-subscriptions-hooks/.wundergraph/wundergraph.config.ts
  examples/graphql-ws-subscriptions/.wundergraph/wundergraph.config.ts
  examples/graphql-yoga-sse-subscriptions/.wundergraph/wundergraph.config.ts
  examples/hooks/.wundergraph/wundergraph.config.ts
  examples/inject-bearer/.wundergraph/wundergraph.config.ts
  examples/keycloak-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/learn-wundergraph/.wundergraph/wundergraph.config.ts
  examples/migrate-from-apollo/.wundergraph/wundergraph.config.ts
  examples/nextjs-clerk/.wundergraph/wundergraph.config.ts
  examples/nextjs-clerk/pages/index.tsx
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-relay-todos/.wundergraph/wundergraph.config.ts
  examples/nextjs-relay/.wundergraph/wundergraph.config.ts
  examples/nextjs-todos/.wundergraph/wundergraph.config.ts
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.config.ts
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/nodejs-ts-client/.wundergraph/wundergraph.config.ts
  examples/nuxt/.wundergraph/wundergraph.config.ts
  examples/openapi-mocking/.wundergraph/wundergraph.config.ts
  examples/postgres/.wundergraph/wundergraph.config.ts
  examples/rbac/.wundergraph/wundergraph.config.ts
  examples/remix/.wundergraph/wundergraph.config.ts
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  examples/simple/.wundergraph/wundergraph.config.ts
  examples/sveltekit-oidc-cookies-auth/.wundergraph/wundergraph.config.ts
  examples/sveltekit-todos/.wundergraph/wundergraph.config.ts
  examples/sveltekit/.wundergraph/wundergraph.config.ts
  examples/vite-react-relay/.wundergraph/wundergraph.config.ts
  examples/vite-solidjs/.wundergraph/wundergraph.config.ts
  examples/vite-svelte/.wundergraph/wundergraph.config.ts
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/webhooks/.wundergraph/wundergraph.config.ts
  packages/sdk/src/configure/index.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  testapps/default/.wundergraph/wundergraph.generate.ts
  testapps/nextauth/.wundergraph/wundergraph.config.ts
  testapps/nextjs-relay/.wundergraph/wundergraph.config.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/postgres/.wundergraph/wundergraph.config.ts
  testapps/simple/.wundergraph/wundergraph.config.ts
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

#937 feat: add projectID and environmentID to logs
  pkg/logging/logging.go
Labels: engine

#938 fix: bootstrap operation factory
  pkg/operations/operations.go
Labels: engine

#924 feat: soap datasource
  docs-website/package-lock.json
  docs-website/src/pages/docs/supported-data-sources/soap.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-soap-data-source.md
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.ts
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/v2openapi/omnigraph.ts
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#939 chore: bump wunderctl dependency in SDK to 0.149.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#945 feat: support all HTTP methods in mocking library
  packages/sdk/src/testing/mock-server.ts
Labels: npm, sdk

#944 fix: clientrequest not passed to subscriptions in operation client
  packages/sdk/src/client/client.ts
  packages/sdk/src/server/operations-client.ts
Labels: npm, sdk

#943 fix: detect all request timeouts correctly
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

#946 chore: update nextjs, add og image and improve seo tags on docs website
  docs-website/next.config.js
  docs-website/package.json
  docs-website/public/fonts/Inter-SemiBold.ttf
  docs-website/src/components/Seo.tsx
  docs-website/src/pages/_app.jsx
  docs-website/src/pages/api/og.tsx
  docs-website/src/pages/index.jsx
  pnpm-lock.yaml
Labels: npm

#950 feat: load .env.test instead .env for testing
  cli/commands/root.go
  docs-website/src/pages/docs/guides/mocking.md
  docs-website/src/pages/docs/guides/testing.md
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/testing/util.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
  packages/testsuite/package.json
  pnpm-lock.yaml
Labels: npm, sdk, engine

#954 feat: allow to set host header to be sent with request
  pkg/apihandler/apitransport.go
Labels: engine

#955 chore: update wunderctl dependency to 0.150.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#956 chore: bump wunderctl version in SDK to 0.151
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#964 fix: operations mutation handler
  packages/sdk/src/server/operations-client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/SetName.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/functions/mutation.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
Labels: npm, sdk

#965 chore: update wunderctl dependency to 0.152.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#966 chore: add version to orm
  packages/orm/package.json
Labels: npm

#967 chore: version orm
  packages/orm/package.json
Labels: npm

#969 fix: add hotscript and type fest to deps
  packages/orm/package.json
  pnpm-lock.yaml
Labels: npm

#959 feat: improve Cache-Control support
  docs-website/src/pages/docs/wundergraph-operations-ts-reference/configure-caching.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/operations.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/user.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/basic/apicache.test.ts
  pkg/apihandler/apihandler.go
  pkg/cacheheaders/cacheheaders.go
  pkg/cacheheaders/cacheheaders_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#947 feat: re-enable plan cache for graphql handler
  go.mod
  go.sum
  packages/sdk/src/testing/test-server.ts
  packages/testsuite/apps/basic/graphqlendpoint.test.ts
  packages/testsuite/package.json
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/node/node.go
  pkg/node/node_test.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

#975 fix: handle anyOf and types with unrepresentable names in OAS
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

#983 chore: fix typo in orm architecture.md
  packages/orm/docs/architecture.md
Labels: npm

#978 feat: add orm client to typescript webhooks
  packages/sdk/src/codegen/templates/typescript/webhooks.template.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/webhooks/factory.ts
  packages/sdk/src/webhooks/types.ts
  packages/testsuite/apps/orm/.graphqlrc.yaml
  packages/testsuite/apps/orm/.wundergraph/operations/ts/orm.ts
  packages/testsuite/apps/orm/.wundergraph/webhooks/country.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  packages/testsuite/apps/orm/test-setup.ts
  packages/testsuite/apps/orm/tsconfig.json
  packages/testsuite/vitest.workspace.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/graphql.go
  pkg/apihandler/internalapihandler.go
Labels: npm, sdk, engine

#979 test: add integration tests for verified webhooks
  packages/testsuite/apps/basic/.wundergraph/webhooks/verified.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/webhooks.test.ts
Labels: npm

#989 feat: implement full text search
  docs-website/next.config.mjs
  docs-website/package.json
  docs-website/searchPlugin.mjs
  docs-website/src/components/FlexSearch.tsx
  docs-website/src/components/Modal.tsx
  docs-website/src/components/Search.tsx
  docs-website/src/components/highlight-matches.tsx
  docs-website/src/pages/docs/examples/nextjs-relay.md
  docs-website/src/pages/docs/examples/orm.md
  docs-website/src/pages/docs/examples/vite-react-relay.md
  docs-website/src/pages/docs/legacy/architecture-guide.md
  docs-website/src/pages/docs/legacy/cacheadvance-flush.md
  docs-website/src/pages/docs/legacy/cacheadvance-predict.md
  docs-website/src/pages/docs/legacy/cacheadvance-regret.md
  docs-website/src/pages/docs/legacy/cacheadvance-revert.md
  docs-website/src/pages/docs/legacy/compile-time-caching.md
  docs-website/src/pages/docs/legacy/design-principles.md
  docs-website/src/pages/docs/legacy/how-to-contribute.md
  docs-website/src/pages/docs/legacy/installation.md
  docs-website/src/pages/docs/legacy/introduction-to-string-theory.md
  docs-website/src/pages/docs/legacy/neuralink-integration.md
  docs-website/src/pages/docs/legacy/predicting-user-behavior.md
  docs-website/src/pages/docs/legacy/predictive-data-generation.md
  docs-website/src/pages/docs/legacy/temporal-paradoxes.md
  docs-website/src/pages/docs/legacy/testing.md
  docs-website/src/pages/docs/legacy/the-butterfly-effect.md
  docs-website/src/pages/docs/legacy/understanding-caching.md
  docs-website/src/pages/docs/legacy/writing-plugins.md
  docs-website/tailwind.config.js
  pnpm-lock.yaml
Labels: npm

#982 feat: propagate authentication, client request and key headers between operations
  packages/sdk/src/client/client.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/testsuite/apps/auth/.wundergraph/operations/claims/User.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserFromTsToGraphQL.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserFromTsToTs.ts
  packages/testsuite/apps/auth/.wundergraph/operations/nested/UserID.graphql
  packages/testsuite/apps/auth/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/auth.test.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/boolean.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/number.ts
  packages/testsuite/apps/basic/.wundergraph/operations/falsy/string.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/fromTs.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/fromTsToGraphQL.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/graphql.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/ts.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
  packages/testsuite/apps/basic/requestid.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/authentication.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/node/node.go
Labels: npm, sdk, engine

#994 feat: add requireAuthentication directive
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/directives-reference/index.md
  docs-website/src/pages/docs/directives-reference/require-authentication-directive.md
  docs-website/src/pages/docs/features/authentication-aware-data-fetching.md
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  packages/testsuite/apps/auth/.wundergraph/operations/echo/StringWithRequiredAuthentication.graphql
  packages/testsuite/apps/auth/.wundergraph/operations/echo/StringWithoutRequiredAuthentication.graphql
  packages/testsuite/apps/auth/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/auth/auth.test.ts
Labels: npm, sdk

#993 feat: add tsup to build nextjs and swr packages
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/package.json
  packages/nextjs/src/auth-middleware.ts
  packages/nextjs/src/ssr-middleware.ts
  packages/nextjs/tsconfig.json
  packages/swr/package.json
  packages/swr/tests/hooks.test.tsx
  packages/swr/tsconfig.json
  pnpm-lock.yaml
  testapps/expo/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

#996 chore: update wunderctl dependency to 0.153.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#991 feat: use Prometheus to track and expose operation and API request counts
  cli/helpers/process.go
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/monitoring-and-observability.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/configure-wundergraph-server-options.md
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/configure/variables.ts
  packages/testsuite/apps/basic/prometheus.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/apihandler/internalapihandler.go
  pkg/apihandler/metrics.go
  pkg/apihandler/metrics_test.go
  pkg/loadvariable/loadvariable.go
  pkg/metrics/metrics.go
  pkg/metrics/none.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus_counter.go
  pkg/metrics/prometheus_gauge.go
  pkg/metrics/prometheus_histogram.go
  pkg/metrics/prometheus_summary.go
  pkg/metrics/prometheus_test.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#1001 chore: update mesh, add open api v2 introspection tests
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/soap-introspection.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/openapi-introspection.test.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.test.ts
  packages/sdk/src/definition/testdata/graphql-introspection.json
  packages/sdk/src/definition/testdata/openapi/Looker.4.0.oas.json
  packages/sdk/src/definition/testdata/openapi/schemas/split_over_files_response_schema.yaml
  packages/sdk/src/definition/testdata/openapi/split_over_files.yaml
  packages/sdk/src/definition/testdata/openapi/spotify.yaml
  packages/sdk/src/definition/testdata/openapi/union-types.yaml
  packages/sdk/src/definition/testdata/soap/greeting.wsdl
  pnpm-lock.yaml
Labels: npm, sdk

#1003 fix: close prometheus metrics when reloading the server
  pkg/metrics/metrics.go
  pkg/metrics/none.go
  pkg/metrics/prometheus.go
  pkg/node/node.go
Labels: engine

#1005 chore: bump wunderctl dependency in SDK to 0.154.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1007 fix: use Node.js fetch that supports web stream api
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1016 feat: use one web compatible fetch implementation on the server
  packages/sdk/package.json
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1015 feat: add graphql enums to generated typescript model
  packages/golang-client/src/index.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/index.test.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/index.ts
  packages/testsuite/apps/basic/index.test.ts
Labels: npm, sdk

#1013 fix: hook server strictness
  packages/sdk/src/server/server.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

#1021 fix: missing ts generator in nextjs package
  packages/nextjs/src/template.ts
Labels: npm, nextjs

#1022 fix: infinite recursion when extracting enums
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/index.ts
Labels: npm, sdk

#1023 chore: bump wunderctl dependency in SDK to 0.155.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1000 feat: fix replaceCustomScalars and add interface support
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/examples/schema-extension.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  examples/schema-extension/README.md
  packages/sdk/src/db/introspection.test.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/transformations/transformSchema.ts
  packages/sdk/src/v2openapi/index.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/testsuite/apps/schema-extensions/.gitignore
  packages/testsuite/apps/schema-extensions/.graphqlrc.yaml
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/Characters.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/CreateFriend.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/FindUniqueUser.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/UpsertUser.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/schema-extensions/docker-compose.yml
  packages/testsuite/apps/schema-extensions/graphql-server.ts
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/schema.prisma
  packages/testsuite/apps/schema-extensions/test-setup.sh
  packages/testsuite/apps/schema-extensions/test-setup.ts
  packages/testsuite/apps/schema-extensions/tsconfig.json
  packages/testsuite/database.env
  packages/testsuite/package.json
  packages/testsuite/vitest.workspace.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1027 fix: fix schema extension test setup
  packages/testsuite/apps/schema-extensions/.gitignore
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/test-setup.sh
  packages/testsuite/apps/schema-extensions/test-setup.ts
Labels: npm
