Repository wundergraph/wundergraph, pull requests merged in 2023-01, with the labels that each got.

#509 feat: improve backoff settings for cold starts
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/telemetry/client.go
Labels: engine

#504 feat: upgrade to nextjs 13
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/hooks/next-env.d.ts
  examples/hooks/next.config.js
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/migrate-from-apollo/pages/index.tsx
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-swr/package.json
  examples/nextjs-swr/pages/authentication.tsx
  examples/nextjs-swr/pages/index.tsx
  examples/nextjs-swr/pages/ssr.tsx
  examples/nextjs-todos/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  packages/nextjs/package.json
  packages/nextjs/src/with-wundergraph.tsx
  packages/sdk/src/client/index.ts
  pnpm-lock.yaml
  testapps/nextjs/package.json
  testapps/nextjs/pages/index.tsx
Labels: npm, sdk, nextjs

#513 fix: filter only folders while listing examples
  packages/create-wundergraph-app/package.json
  packages/create-wundergraph-app/src/helpers/examples.ts
  pnpm-lock.yaml
Labels: npm

#496 fix: allow to treat a subgraph as regular graphql api
  go.mod
  go.sum
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
Labels: npm, sdk, engine

#512 fix: error messages in OpenIDConnectCookieHandler
  pkg/authentication/oidc.go
Labels: engine

#514 fix: data race and variability in httpidletimeout test
  pkg/httpidletimeout/httpidletimeout_test.go
Labels: engine

#519 fix: incorrectly derived filesystem paths on Windows
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/server.go
  cli/commands/up.go
  pkg/config/config.go
  pkg/datasources/database/engine.go
  pkg/files/files.go
  pkg/webhooks/webhooks.go
Labels: engine

#526 feat: watcher, track new import
  pkg/bundler/bundler.go
  pkg/watcher/watcher.go
Labels: engine

#516 fix: json scalar types rendering not supported for graphql api
  go.mod
  go.sum
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pnpm-lock.yaml
  testapps/README.md
  testapps/simple/.gitignore
  testapps/simple/.wundergraph/.graphqlconfig
  testapps/simple/.wundergraph/operations/Hello.graphql
  testapps/simple/.wundergraph/wundergraph.config.ts
  testapps/simple/.wundergraph/wundergraph.operations.ts
  testapps/simple/.wundergraph/wundergraph.server.ts
  testapps/simple/package.json
  testapps/simple/tsconfig.json
Labels: npm, sdk, engine

#517 fix: listen on IPv6 when WG_NODE_HOST is a hostname
  pkg/node/node.go
Labels: engine

#536 chore: update graphql-go-tools version
  go.mod
  go.sum
  pkg/node/node_test.go
Labels: engine

#423 chore: add nextauth example
  docs-website/config/navigation.js
  docs-website/config/tags.js
  docs-website/src/pages/docs/guides/configure-authorization.md
  docs-website/src/pages/docs/guides/token-based-authentication-with-next-auth.md
  packages/react-query/tests/hooks.test.tsx
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/swr/tests/hooks.test.tsx
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  testapps/nextauth/.gitignore
  testapps/nextauth/.graphqlconfig
  testapps/nextauth/.wundergraph/operations/Dragons.graphql
  testapps/nextauth/.wundergraph/operations/SetName.graphql
  testapps/nextauth/.wundergraph/wundergraph.config.ts
  testapps/nextauth/.wundergraph/wundergraph.operations.ts
  testapps/nextauth/.wundergraph/wundergraph.server.ts
  testapps/nextauth/README.md
  testapps/nextauth/lib/wundergraph.ts
  testapps/nextauth/middleware.ts
  testapps/nextauth/next-env.d.ts
  testapps/nextauth/package.json
  testapps/nextauth/pages/_app.tsx
  testapps/nextauth/pages/api/auth/[...nextauth].ts
  testapps/nextauth/pages/api/auth/userInfo.ts
  testapps/nextauth/pages/index.tsx
  testapps/nextauth/public/favicon.ico
  testapps/nextauth/tsconfig.json
Labels: npm, sdk, engine

#525 feat: add support for disconnecting from Auth0
  examples/auth0-oidc-authentication/.wundergraph/wundergraph.config.ts
  examples/auth0-oidc-authentication/README.md
  examples/auth0-oidc-authentication/package.json
  examples/auth0-oidc-authentication/pages/index.tsx
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/configure/authentication.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#534 feat: allow to init wundergraph into existing projects
  docs-website/src/pages/getting-started.md
  examples/simple/.wundergraph/operations/Hello.graphql
  examples/simple/.wundergraph/wundergraph.config.ts
  examples/simple/.wundergraph/wundergraph.server.ts
  examples/simple/README.md
  packages/create-wundergraph-app/README.md
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/helpers/examples.ts
  packages/create-wundergraph-app/src/helpers/getRepoTags.ts
  packages/create-wundergraph-app/src/helpers/getRepository.ts
  packages/create-wundergraph-app/src/index.ts
  pnpm-lock.yaml
Labels: npm

#540 fix: don't ignore data in mutatingPreResolve for queries
  pkg/apihandler/apihandler.go
Labels: engine

#529 fix: prevent swallowing of input validation errors
  packages/react-query/src/types.ts
  packages/react-query/tests/index.test-d.ts
  packages/sdk/src/client/ClientResponseError.ts
  packages/sdk/src/client/InputValidationError.ts
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/swr/src/types.ts
  packages/swr/tests/hooks.test.tsx
  packages/swr/tests/swr.test-d.ts
Labels: npm, sdk

#551 feat: make input required if there are required variables
  packages/react-query/src/hooks.ts
  packages/react-query/src/types.ts
  packages/react-query/tests/hooks.test.tsx
  packages/react-query/tests/index.test-d.ts
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/test-d/client.test-d.ts
  packages/swr/src/types.ts
  pnpm-lock.yaml
Labels: npm, sdk

#556 fix: sse subscription abort
  go.mod
  go.sum
Labels: engine

#501 fix: operation metadata type imports
  packages/sdk/src/codegen/templates/typescript/react.native.provider.template.ts
  packages/sdk/src/codegen/templates/typescript/react.provider.template.ts
Labels: npm, sdk

#564 feat: disable graphql maximum subscription message size limit
  go.mod
  go.sum
Labels: engine

#565 fix: path formatting for resolveFieldName
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

#566 fix: handle consecutive hyphens or underscores when formatting field …
  packages/sdk/src/v2openapi/index.test.ts
  packages/sdk/src/v2openapi/index.ts
Labels: npm, sdk

#572 fix: workaround data race in qio-io/jsonschema
  pkg/inputvariables/validator.go
Labels: engine

#568 fix: operations loading and normalization
  cli/commands/generate.go
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/up.go
  examples/caching/test/index.test.ts
  examples/expo-swr/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/test/index.test.ts
  examples/nextjs-typescript-functions/pages/users/update.tsx
  examples/nextjs-typescript-functions/test/index.test.ts
  examples/nextjs/test/index.test.ts
  go.mod
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/postman/builder.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/loadoperations/fixtures/loadoperations.golden
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
  pkg/loadoperations/testdata/operations/LevelChat.graphql
  pkg/loadoperations/testdata/operations/LevelNestedOne.ts
  pkg/loadoperations/testdata/operations/PREFIXChat.graphql
  pkg/loadoperations/testdata/operations/level/Chat.graphql
  pkg/loadoperations/testdata/operations/level/message.graphql
  pkg/loadoperations/testdata/operations/level/nested/one.ts
  pkg/loadoperations/testdata/schema.graphql
  testapps/nextjs/pages/functions/mutate.tsx
  testapps/vite/.wundergraph/wundergraph.config.ts
Labels: npm, sdk, engine

#574 chore: update wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#476 feat: add upload profiles for S3 providers
  docs-website/src/pages/docs/features/file-uploads-to-s3-compatible-file-storages.md
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.operations.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.server.ts
  examples/nextjs-file-upload/minio/setup.sh
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/react-query/src/types.ts
  packages/react-query/tests/hooks.test.tsx
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/hooks.template.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/plugins/hooks.ts
  packages/sdk/src/server/types.ts
  packages/sdk/test-d/client.test-d.ts
  packages/swr/src/types.ts
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/wgpb/wundernode_config.pb.go
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/pages/react-query/upload.tsx
  testapps/nextjs/pages/upload.tsx
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#577 chore: update wunderctl version to 0.127.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#567 fix: avoid double escaping special characters in JSON
  pkg/customhttpclient/customhttpclient.go
  pkg/customhttpclient/customhttpclient_test.go
Labels: engine

#583 fix: use operationPath in client operation metadata
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#584 fix: mark json-schema-to-typescript as dependency instead of devDependency
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#585 chore: update wunderctl SDK dependency
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#575 fix: handler, return graphql errors
  go.mod
  go.sum
  pkg/apihandler/apihandler.go
  pkg/node/fixtures/post my reviews graphql returns valid graphql error.golden
  pkg/node/node_test.go
Labels: engine

#580 fix: enforce token validation if any token keys are defined
  .github/workflows/packages-ci.yaml
  go.mod
  go.sum
  packages/sdk/src/client/client.ts
  pkg/authentication/authentication.go
  pnpm-lock.yaml
  testapps/jwks/.gitignore
  testapps/jwks/.graphqlrc.yaml
  testapps/jwks/.wundergraph/operations/Hello.graphql
  testapps/jwks/.wundergraph/wundergraph.config.ts
  testapps/jwks/.wundergraph/wundergraph.operations.ts
  testapps/jwks/.wundergraph/wundergraph.server.ts
  testapps/jwks/jest.config.js
  testapps/jwks/package.json
  testapps/jwks/test/index.test.ts
  testapps/jwks/tsconfig.json
Labels: npm, sdk, engine

#578 feat: federation, support extend keyword
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
Labels: npm, sdk

#591 fix: add isSubscribed to return types
  packages/react-query/src/types.ts
Labels: npm

#590 fix: remove spaces in fixture filenames, fix double http.WriteHeader() calls
  pkg/apihandler/apihandler.go
  pkg/node/fixtures/get_my_reviews_json_rpc.golden
  pkg/node/fixtures/post_my_reviews_graphql.golden
  pkg/node/fixtures/post_my_reviews_graphql_returns_valid_graphql_error.golden
  pkg/node/fixtures/top_products_with_invalid_query.golden
  pkg/node/fixtures/top_products_with_invalid_query_as_wg_variables.golden
  pkg/node/fixtures/top_products_with_query.golden
  pkg/node/fixtures/top_products_with_query_as_wg_variables.golden
  pkg/node/fixtures/top_products_without_query.golden
  pkg/node/node_test.go
Labels: engine

#541 chore: add support for extra telemetry fields
  cli/commands/generate.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  packages/sdk/src/configure/index.ts
  pkg/telemetry/annotate.go
  pkg/telemetry/client.go
  pkg/telemetry/client_test.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/git.go
  pkg/telemetry/hash.go
  pkg/telemetry/metrics.go
Labels: npm, sdk, engine

#573 fix: rename build info to engine info and add user project build info
  pkg/node/buildinfo.go
  pkg/node/node.go
  pkg/node/nodetemplates/resources/index.html
Labels: engine

#599 feat: load telemetry anonymous id from WG_TELEMETRY_ANONYMOUS_ID
  cli/commands/root.go
  pkg/config/config.go
  pkg/telemetry/client.go
  pnpm-lock.yaml
Labels: npm, engine

#601 feat: cleanup introspection, enable introspecting large database schemas
  cli/commands/introspect.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  examples/postgres/docker-compose.yml
  pkg/datasources/database/engine.go
  pkg/datasources/database/introspection.go
Labels: engine

#603 chore: improve readmes
  README.md
  packages/sdk/README.md
Labels: npm, sdk

#608 chore: engine, update version
  docs-website/src/pages/docs/directives-reference/remove-null-variables-directive.md
  go.mod
  go.sum
Labels: engine

#607 fix: paths and uri composition on Windows when using nested directories for operations
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/loadoperations/loader.go
Labels: npm, sdk, engine

#605 feat: add prisma datasource
  cli/commands/introspect.go
  cli/commands/mongodb.go
  cli/commands/mysql.go
  cli/commands/planetscale.go
  cli/commands/postgres.go
  cli/commands/prisma.go
  cli/commands/sqlite.go
  cli/commands/sqlserver.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/db/introspection.test.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/db/types.ts
  packages/sdk/src/definition/index.ts
  pkg/datasources/database/introspection.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/telemetry/data_sources.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/default/.wundergraph/operations/UserPost.graphql
  testapps/default/.wundergraph/schema.prisma
  testapps/default/.wundergraph/users_post.sqlite
  testapps/default/.wundergraph/wundergraph.config.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#613 chore: wunderctl, update
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk
