Repository wundergraph/wundergraph, pull requests merged in 2023-04, with the labels that each got.

#782 fix: multiple fixes in authentication hooks
  pkg/authentication/authentication.go
  pkg/hooks/authentication.go
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/.wundergraph/wundergraph.server.ts
  testapps/auth/test/index.test.ts
Labels: engine

#786 chore: generate build_info.json first
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

#788 feat: add ability to enable inspect for the server script runner
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/server_runner.go
Labels: engine

#787 fix: translating oas spec in the v2 oas introspection
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/omnigraph.ts
Labels: npm, sdk

#790 fix: avoid infinite loop when using an operation as userInfoEndpoint for tokens
  pkg/authentication/authentication.go
  pkg/customhttpclient/request_tag.go
Labels: engine

#797 chore: bump to 138.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#795 feat: add auth middleware hook to nextjs client
  packages/nextjs/src/auth-middleware.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/types.ts
  packages/nextjs/src/with-wundergraph.tsx
Labels: npm, nextjs

#803 feat: mark operations as internal when inside internal folder
  docs-website/src/pages/docs/directives-reference/internal-operation-directive.md
  docs-website/src/pages/docs/typescript-operations-reference/security.md
  examples/learn-wundergraph/.wundergraph/operations/users/internal/getAdminUser.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/CountryWeather.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/internal/Country.graphql
  examples/learn-wundergraph/.wundergraph/operations/weather/internal/Weather.graphql
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  testapps/default/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  testapps/default/.wundergraph/operations/nested/internal/Internal.graphql
  testapps/default/test/index.test.ts
Labels: npm, sdk

#807 chore: change error to warn
  pkg/authentication/github.go
  pkg/authentication/oidc.go
Labels: engine

#813 feat: tui + log handling
  cli/commands/generate.go
  cli/commands/introspect.go
  cli/commands/loadoperations.go
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/start.go
  cli/commands/up.go
  cli/helpers/flags.go
  cli/helpers/server_runner.go
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/wunderctlexec/index.ts
  packages/wunderctl/src/cli.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apitransport.go
  pkg/bundler/bundler.go
  pkg/cli/browser.go
  pkg/cli/builder.go
  pkg/cli/keys.go
  pkg/cli/styles.go
  pkg/datasources/database/datasource.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/loadoperations/loader.go
  pkg/logging/logging.go
  pkg/node/node.go
  pkg/scriptrunner/scriptrunner.go
  pkg/watcher/watcher.go
  pkg/wgpb/wundernode_config.pb.go
  pnpm-lock.yaml
  testapps/default/package.json
  testapps/simple/.wundergraph/operations/users/subscribe.ts
  testapps/simple/.wundergraph/wundergraph.config.ts
  testapps/simple/package.json
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, wunderctl, engine

#826 fix: allow prisma to load from .env
  pkg/datasources/database/engine.go
Labels: engine

#827 chore: update wunderctl dependency
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#829 fix: svelte-query livequery config
  packages/svelte-query/README.md
  packages/svelte-query/src/lib/createSvelteClient.ts
  packages/svelte-query/tests/queryUtils.test.ts
Labels: npm

#815 fix: add a check that token string is a real jwt token
  pkg/authentication/authentication.go
Labels: engine

#831 chore: add authentication guides
  docs-website/config/navigation.tsx
  docs-website/config/tags.js
  docs-website/markdoc/nodes.js
  docs-website/markdoc/tags.js
  docs-website/package.json
  docs-website/src/components/Card.tsx
  docs-website/src/components/CodeWindow.tsx
  docs-website/src/components/Fence.jsx
  docs-website/src/pages/docs/auth/cookie-based-auth/auth0/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/github/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/google/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/keycloak/index.md
  docs-website/src/pages/docs/auth/cookie-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/auth/index.md
  docs-website/src/pages/docs/auth/token-based-auth/auth-js/index.md
  docs-website/src/pages/docs/auth/token-based-auth/clerk/index.md
  docs-website/src/pages/docs/auth/token-based-auth/openid-connect/index.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-custom-claims.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-token-based-authentication.md
  pnpm-lock.yaml
Labels: npm

#809 feat: vue-query client
  README.md
  docs-website/config/navigation.tsx
  docs-website/src/components/logos/nuxt.jsx
  docs-website/src/pages/docs/clients-reference/vue-query.md
  docs-website/src/pages/docs/examples/nuxt.md
  docs-website/src/pages/docs/getting-started/index.jsx
  docs-website/src/pages/docs/getting-started/nuxt-quickstart.md
  docs-website/src/pages/docs/supported-frontend-frameworks/nuxt.md
  docs-website/src/pages/docs/supported-frontend-frameworks/vue.md
  docs-website/src/pages/index.jsx
  examples/nuxt/.gitignore
  examples/nuxt/.graphqlrc.yaml
  examples/nuxt/.npmrc
  examples/nuxt/.wundergraph/operations/Dragons.graphql
  examples/nuxt/.wundergraph/operations/users/get.ts
  examples/nuxt/.wundergraph/operations/users/subscribe.ts
  examples/nuxt/.wundergraph/operations/users/update.ts
  examples/nuxt/.wundergraph/wundergraph.config.ts
  examples/nuxt/.wundergraph/wundergraph.operations.ts
  examples/nuxt/.wundergraph/wundergraph.server.ts
  examples/nuxt/README.md
  examples/nuxt/app.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/pages/index.vue
  examples/nuxt/pages/users/index.vue
  examples/nuxt/pages/users/subscribe.vue
  examples/nuxt/pages/users/update.vue
  examples/nuxt/plugins/vue-query.ts
  examples/nuxt/public/favicon.ico
  examples/nuxt/tailwind.config.js
  examples/nuxt/test/index.test.ts
  examples/nuxt/tsconfig.json
  packages/vue-query/.npmignore
  packages/vue-query/CHANGELOG.md
  packages/vue-query/README.md
  packages/vue-query/jest-setup.ts
  packages/vue-query/jest.config.js
  packages/vue-query/package.json
  packages/vue-query/src/hooks.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/types.ts
  packages/vue-query/tests/hooks.test.ts
  packages/vue-query/tests/index.test-d.ts
  packages/vue-query/tsconfig.json
  pnpm-lock.yaml
Labels: npm

#832 fix: remove --no-cache from generate cmd help
  cli/commands/generate.go
  cli/commands/version.go
Labels: engine

#833 fix: export CreateWebhookProps
  packages/sdk/src/webhooks/factory.ts
Labels: npm, sdk

#835 fix: issue where webhooks with payload would fail
  packages/sdk/src/server/plugins/webhooks.ts
Labels: npm, sdk

#836 fix: include config headers in graphiql
  pkg/graphiql/graphiql.html
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: engine

#843 fix: avoid logging in tui mode
  cli/commands/up.go
Labels: engine

#848 feat: enable subscriptions in graphiql
  pkg/apihandler/apihandler.go
  pkg/graphiql/graphiql.html
Labels: engine

#849 chore: update wunderctl dependency to 0.141.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#858 chore: apply shield changes to sdk readme
  README.md
  packages/sdk/README.md
Labels: npm, sdk

#860 chore: bump wunderctl to 0.142
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#862 docs: add discourse to the SDK readme
  packages/react-relay/README.md
  packages/sdk/README.md
Labels: npm, sdk

#853 feat: implement internal graphql handler
  docs-website/config/tags.js
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-wundernode-options.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/server/internal-client.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/testing/index.ts
  packages/testsuite/apps/basic/.wundergraph/operations/internal/rootInternal.ts
  packages/testsuite/apps/basic/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  packages/testsuite/apps/basic/internal.test.ts
  packages/testsuite/apps/hooks/index.test.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/default/.wundergraph/operations/internal/rootInternal.ts
  testapps/default/.wundergraph/operations/nested/InternalDirectoryWrapper.ts
  testapps/default/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#865 fix: move wundergraph & relay to peer deps of relay package
  packages/react-relay/package.json
  pnpm-lock.yaml
Labels: npm

#866 fix: don't override request context after assigning client request (#866
  packages/testsuite/apps/basic/.wundergraph/operations/clientrequest/Header.graphql
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

#868 chore: random change to trigger format check
  packages/protobuf/wgpb/wundernode_config.ts
Labels: npm, types

#870 chore: revert accidental merge
  packages/protobuf/wgpb/wundernode_config.ts
Labels: npm, types

#871 chore: update wunderctl dependency to 0.143.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#864 fix: ensure input is undefined when not defined as schema
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/simple.ts
  testapps/default/test/index.test.ts
  testapps/simple/.wundergraph/operations/users/getWeather.ts
  testapps/simple/.wundergraph/operations/users/simple.ts
Labels: npm, sdk

#872 fix: internal router
  packages/sdk/src/server/operations-client.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/greeting.ts
  packages/testsuite/apps/basic/.wundergraph/operations/functions/user.ts
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: npm, sdk, engine

#854 feat: add support for using proxies in data sources
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/using-http-proxies.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/configure/variables.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/omnigraph.ts
  packages/testsuite/apps/basic/vitest.config.ts
  packages/testsuite/apps/generation/.graphqlrc.yaml
  packages/testsuite/apps/generation/.wundergraph/operations/CountryByCode.graphql
  packages/testsuite/apps/generation/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/generation/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/generation/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/generation/index.test.ts
  packages/testsuite/apps/generation/queries.ts
  packages/testsuite/apps/generation/test-setup.ts
  packages/testsuite/apps/generation/tsconfig.json
  packages/testsuite/apps/hooks/vitest.config.ts
  packages/testsuite/package.json
  packages/testsuite/setup/generate.ts
  packages/testsuite/vitest.workspace.ts
  pkg/apihandler/api.go
  pkg/apihandler/apitransport.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/loadvariable/loadvariable.go
  pkg/node/config.go
  pkg/node/node.go
  pkg/wgpb/wundernode_config.pb.go
  pnpm-lock.yaml
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#876 chore: remove deprecated packages
  package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
  testapps/default/package.json
Labels: npm, wunderctl

#880 feat: test package provenance
  .github/workflows/engine-release.yaml
  .github/workflows/packages-release.yaml
  packages/testsuite/package.json
Labels: npm

#877 feat: initial implementation for the operations code generation
  .prettierignore
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/auto-generated-operations-reference/index.md
  docs-website/src/pages/docs/operations-reference/index.md
  package.json
  packages/sdk/src/codegen/generateoperations.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/configure/codegeneration.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/index.ts
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/v2openapi/index.ts
  testapps/default/.wundergraph/operations/federated/Me.graphql
  testapps/default/.wundergraph/operations/federated/SetPrice.graphql
  testapps/default/.wundergraph/operations/federated/TopProducts.graphql
  testapps/default/.wundergraph/operations/federated/UpdatedPrice.graphql
  testapps/default/.wundergraph/operations/weather/.prettierignore
  testapps/default/.wundergraph/operations/weather/GetCityById.graphql
  testapps/default/.wundergraph/operations/weather/GetCityByName.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.generate.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

#884 fix: update tanstack query
  package.json
  packages/react-query/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: npm

#897 fix: incorrect env read for public node url
  packages/sdk/src/configure/options.ts
Labels: npm, sdk

#895 chore: log failures to connect to S3 providers as errors
  pkg/apihandler/apihandler.go
Labels: engine

#902 fix: variable corruption
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: engine

#905 chore: version bump in SDK to wunderctl 0.145.2
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#893 feat: implement mocking capabilities
  .github/actions/wunderctl/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/examples-ci.yaml
  .github/workflows/packages-ci.yaml
  .prettierignore
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/mocking.md
  package.json
  packages/sdk/package.json
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/testing.template.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/testing/index.ts
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/testing/test-servers.ts
  packages/sdk/src/testing/util.ts
  packages/sdk/src/transformations/__snapshots__/replaceCustomNumericScalars.test.ts.snap
  packages/sdk/src/transformations/replaceCustomNumericScalars.test.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/basic/.wundergraph/operations/weather/GetCityById.graphql
  packages/testsuite/apps/basic/.wundergraph/operations/weather/GetCityByName.graphql
  packages/testsuite/apps/basic/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/basic/json-schema.test.ts
  packages/testsuite/apps/basic/openapi-generation.test.ts
  packages/testsuite/apps/basic/sql-raw.test.ts
  packages/testsuite/apps/generation/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/generation/index.test.ts
  packages/testsuite/apps/generation/queries.ts
  packages/testsuite/apps/hooks/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/http-proxy/.graphqlrc.yaml
  packages/testsuite/apps/http-proxy/.wundergraph/operations/CountryByCode.graphql
  packages/testsuite/apps/http-proxy/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/http-proxy/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/http-proxy/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/http-proxy/http-proxy.test.ts
  packages/testsuite/apps/http-proxy/test-setup.ts
  packages/testsuite/apps/http-proxy/tsconfig.json
  packages/testsuite/apps/mock/.graphqlrc.yaml
  packages/testsuite/apps/mock/.wundergraph/operations/CountryByCode.graphql
  packages/testsuite/apps/mock/.wundergraph/operations/search.ts
  packages/testsuite/apps/mock/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/mock/.wundergraph/wundergraph.operations.ts
  packages/testsuite/apps/mock/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/mock/test-setup.ts
  packages/testsuite/apps/mock/test/mock-datasource.test.ts
  packages/testsuite/apps/mock/test/mock-external-api.test.ts
  packages/testsuite/apps/mock/test/mocks/mockSearchResponse.ts
  packages/testsuite/apps/mock/tsconfig.json
  packages/testsuite/apps/mock/types.ts
  packages/testsuite/package.json
  packages/testsuite/vitest.workspace.ts
  pnpm-lock.yaml
Labels: npm, sdk

#906 fix: fixes issue where returning data from another ts operation would result in a type error
  packages/sdk/src/operations/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/test-d/operations-client.test-d.ts
  packages/sdk/test-d/operations.test-d.ts
Labels: npm, sdk

#908 fix: graphQL handler planning errors
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
Labels: engine

#909 chore: bump wunderctl dependency to 0.146.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#911 feat: add support for custom claims of any type
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/claims.ts
  packages/sdk/src/configure/index.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/index.test.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine
