Repository wundergraph/wundergraph, pull requests merged in 2023-06, with the labels that each got.

#1032 fix: use the right context.Context when reusing a resolve.Context in GetSharedFromRequest()
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestContentLength.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  pkg/pool/pool.go
Labels: npm, engine

#1036 chore: fix otel variable panics
  pkg/node/config.go
Labels: engine

#1039 fix: pass correct url to http.url otel attribute
  packages/sdk/src/server/plugins/hooks.test.ts
  packages/sdk/src/server/plugins/telemetry.test.ts
  packages/sdk/src/server/plugins/telemetry.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
Labels: npm, sdk

#1042 fix: align otel attributes
  packages/sdk/src/server/plugins/telemetry.test.ts
  packages/sdk/src/server/plugins/telemetry.ts
  pkg/apihandler/apitransport.go
  pkg/hooks/hooks.go
  pkg/trace/transport.go
  pkg/trace/transport_test.go
  pkg/trace/wrap_handler.go
  pkg/trace/wrap_handler_test.go
  pkg/webhookhandler/webhookhandler.go
Labels: npm, sdk, engine

#1041 feat: implement removeNullVariables for DB datasources
  pkg/datasources/database/datasource.go
  pkg/datasources/database/datasource_test.go
Labels: engine

#1025 feat: add withHeaders method to ORM
  docs-website/src/pages/docs/typescript-orm-reference/index.md
  packages/orm/src/executor.ts
  packages/orm/src/operation-builder.ts
  packages/orm/src/operation-creator.ts
  packages/orm/src/orm.ts
  packages/sdk/src/orm/executor.ts
  packages/testsuite/apps/orm/.wundergraph/operations/ts/with-headers.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  testapps/default/.wundergraph/operations/orm/query.ts
Labels: npm, sdk

#1044 chore: update wunderctl dependency to 0.158.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1048 fix: bump orm version
  packages/orm/src/orm.ts
Labels: npm

#1043 feat: add logging interface
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/index.md
  docs-website/src/pages/docs/guides/logging.md
  docs/migrations/sdk-0.163.3-0.164.0.md
  packages/sdk/src/index.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/logger.test.ts
  packages/sdk/src/server/logger.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/src/webhooks/types.ts
  packages/testsuite/apps/basic/.wundergraph/operations/requestid/ts.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/.wundergraph/operations/ts/orm.ts
  testapps/default/.wundergraph/webhooks/github.ts
Labels: npm, sdk

#1035 feat: add support for user-defined session durations
  docs-website/src/pages/docs/wundergraph-server-ts-reference/custom-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mock-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/mutating-pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-response-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-authentication-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-logout-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/post-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/pre-resolve-hook.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/revalidate-hook.md
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/auth/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/auth/auth.test.ts
  pkg/authentication/authentication.go
Labels: npm, sdk, engine

#1049 feat: pass internal requests from ORM into GraphQLHandler
  packages/orm/src/executor.ts
  packages/orm/src/internal-types.ts
  packages/orm/src/operation-builder.ts
  packages/orm/src/operation-creator.ts
  packages/orm/src/orm.ts
  packages/sdk/src/orm/executor.ts
  packages/sdk/src/server/internal-client.ts
  packages/sdk/src/server/operations-client.test.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/plugins/webhooks.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestContentLength.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeader.ts
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeaderGQL.graphql
  packages/testsuite/apps/orm/.wundergraph/operations/clientRequestHeaderViaGQL.ts
  packages/testsuite/apps/orm/.wundergraph/wundergraph.server.ts
  packages/testsuite/apps/orm/orm.test.ts
  pkg/apihandler/graphql.go
  pkg/apihandler/internalapihandler.go
  pkg/pool/pool.go
Labels: npm, sdk, engine

#1031 feat: support oneof on inputs for the generated client
  go.mod
  go.sum
  packages/orm/package.json
  packages/orm/src/codegen/types.ts
  packages/orm/src/selections.test.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/__snapshots__/index.test.ts.snap
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/soap-introspection.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/definition/openapi-introspection.test.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.test.ts
  packages/sdk/src/definition/soap-introspection.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/graphql/schema.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  packages/sdk/src/transformations/__snapshots__/replaceCustomNumericScalars.test.ts.snap
  packages/sdk/src/transformations/replaceCustomNumericScalars.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/testsuite/apps/openapi/.wundergraph/operations/InputUnion.graphql
  packages/testsuite/apps/openapi/.wundergraph/union-types.yaml
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi-input-unions.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/testsuite/apps/orm/.wundergraph/operations/ts/input-unions.ts
  packages/testsuite/apps/orm/.wundergraph/union-types.yaml
  packages/testsuite/apps/orm/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/orm/orm-input-unions.test.ts
  pnpm-lock.yaml
Labels: npm, sdk, engine

#1056 fix: handle nested type definitions in operation inputs when generating OAS
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

#1058 chore: bump wunderctl dependency in SDK to 0.159.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1055 fix: update @ominigrah / @graph-mesh dependencies to fix security warning
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1052 feat: support prisma views
  docs-website/src/pages/docs/databases/prisma.md
  go.mod
  go.sum
  packages/testsuite/apps/basic/.wundergraph/operations/UserNames.graphql
  packages/testsuite/apps/basic/.wundergraph/schema.prisma
  packages/testsuite/apps/basic/.wundergraph/users_post.sqlite
  packages/testsuite/apps/basic/index.test.ts
  packages/testsuite/apps/basic/sql-raw.test.ts
  pkg/datasources/database/datasource.go
  pkg/datasources/database/deserialize_raw.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
  testapps/default/.wundergraph/operations/UserNames.graphql
  testapps/default/.wundergraph/schema.prisma
  testapps/default/.wundergraph/users_post.sqlite
Labels: npm, engine

#1070 perf: improve config generation/loading performance
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/process.go
  go.mod
  packages/protobuf/generate.sh
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/utils/helper.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/node.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#1072 chore: fix data race in test
  pkg/apihandler/apihandler_test.go
Labels: engine

#1060 fix: produce JSONPatch patches with removals in the right order
  go.mod
  go.sum
  packages/react-query/tests/hooks.test.tsx
  packages/react-relay/tests/lib/TestClient.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/solid-query/tests/hooks.test.tsx
  packages/svelte-query/tests/queryUtils.test.ts
  packages/swr/tests/swr.test-d.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/AllNotes.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/DeleteNote.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  packages/vue-query/tests/hooks.test.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/hooks/hooks.go
Labels: npm, sdk, engine

#1071 chore: upgrade to pnpm 8, fix list types in prisma schema
  .github/actions/node/action.yaml
  .github/workflows/packages-ci.yaml
  .npmrc
  examples/graphql-apollo-subscriptions/package.json
  examples/sveltekit-oidc-cookies-auth/tsconfig.json
  examples/sveltekit-todos/package.json
  package.json
  packages/sdk/package.json
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/db/introspection.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/utils/helper.ts
  packages/testsuite/package.json
  pkg/apihandler/metrics.go
  pkg/telemetry/data_sources.go
  pnpm-lock.yaml
  scripts/test-examples/all.sh
  testapps/vite/package.json
Labels: npm, sdk, engine

#1080 chore: bump wunderctl dependency in SDK to 0.160.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1073 fix: federation introspection
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.test.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/graphql/schema.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1086 fix: delete unknown directives from the schema generated from OAS
  packages/sdk/src/graphql/schema.test.ts
  packages/sdk/src/graphql/schema.ts
Labels: npm, sdk

#1091 fix: hang up when quickly exiting wunderctl up
  cli/commands/up.go
Labels: engine
