Repository wundergraph/wundergraph, pull requests merged in 2023-10, with the labels that each got.

#1294 perf: make wunderctl generate faster, add a few more trace log messages
  .github/workflows/packages-ci.yaml
  docs-website/src/pages/docs/architecture/wundergraph-conventions.md
  packages/golang-client/src/index.ts
  packages/nextjs/package.json
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/configure/index.ts
  pkg/node/config.go
  pnpm-lock.yaml
Labels: npm, sdk, nextjs, engine

#1301 fix: properly validate api namespaces
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, sdk, engine

#1302 chore: add path alias example
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/guides/using-path-aliases.md
  pnpm-lock.yaml
  testapps/nextjs/.wundergraph/operations/combined.ts
  testapps/nextjs/.wundergraph/wundergraph.config.ts
  testapps/nextjs/package.json
  testapps/nextjs/tsconfig.json
Labels: npm

#1303 fix: updated zod to 3.22.3
  docs-website/src/pages/docs/guides/bundle-generated-client-for-distribution.md
  examples/nextjs-file-upload/package.json
  package.json
  packages/sdk/package.json
  packages/testsuite/package.json
  pnpm-lock.yaml
  testapps/default/package.json
  testapps/nextjs-integrations/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
Labels: npm, sdk

#1300 fix: respect upstream object types when their name collides with a well known scalar
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/orm/executor.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/Time.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
Labels: npm, sdk

#1304 fix: update OAS dependencies to fix GQL generation of required fields inside allOf
  packages/sdk/package.json
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/openapi-introspection.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1305 chore: bump wunderctl dependency in SDK to 0.178.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1307 fix: fixed issue where createWunderGraphNext would not return correct…
  packages/nextjs/src/create-wundergraph.ts
  packages/nextjs/src/handlebar.template.ts
  packages/nextjs/src/types.ts
Labels: npm, nextjs

#1288 docs: add keycloak role mapping instructions
  docs-website/src/pages/docs/examples/keycloak-openid-connect-authentication.md
  examples/keycloak-oidc-authentication/README.md
Labels: 🙋 Bounty claim

#1312 fix: fixed issue where int64 in open api specs would fail to parse
  packages/sdk/package.json
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/Bigint.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1311 fix: setup patches for dependencies with issues
  package.json
  packages/sdk/package.json
  packages/sdk/patches/@graphql-mesh+string-interpolation+0.5.2.patch
  packages/sdk/patches/@graphql-mesh__string-interpolation@0.5.2.patch
  packages/sdk/patches/@omnigraph+openapi+0.95.7.patch
  packages/sdk/patches/@omnigraph__openapi@0.95.7.patch
  packages/sdk/patches/graphql-scalars+1.22.2.patch
  packages/sdk/patches/graphql-scalars@1.22.2.patch
  patches/@graphql-mesh__string-interpolation@0.5.2.patch
  patches/@omnigraph__openapi@0.95.7.patch
  patches/graphql-scalars@1.22.2.patch
  pnpm-lock.yaml
Labels: npm, sdk

#1318 fix: patch json-machete to propagate required from root objects to subobjects
  package.json
  packages/sdk/package.json
  packages/sdk/patches/json-machete+0.95.6.patch
  packages/sdk/patches/json-machete@0.94.5.patch
  patches/json-machete@0.94.5.patch
  pnpm-lock.yaml
Labels: npm, sdk

#1323 feat: add default values support for generated operations
  packages/sdk/src/codegen/generateoperations.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/postman/builder.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  testapps/default/.wundergraph/operations/federated/TopProducts.graphql
Labels: npm, sdk

#1324 fix: fixed issue where open api mutation would cause gateway timeout after redirect
  packages/sdk/package.json
  packages/sdk/src/server/plugins/fetch.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1325 fix: don't intercept streaming responses for response logging
  pkg/node/node.go
Labels: engine

#1327 fix: update to wunderctl 0.176.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1329 fix: pass QueryParameters to OIDC provider config
  pkg/authentication/oidc.go
Labels: engine

#1330 fix: add globalfetch configuration option to server
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
Labels: npm, sdk

#1331 feat: upgrade @graph-mesh and @omnigraph dependencies, update patches too
  package.json
  packages/sdk/package.json
  packages/sdk/patches/@graphql-mesh+string-interpolation+0.5.2.patch
  packages/sdk/patches/@graphql-mesh__string-interpolation@0.5.2.patch
  packages/sdk/patches/@omnigraph+json-schema+0.96.0.patch
  packages/sdk/patches/@omnigraph+openapi+0.95.7.patch
  packages/sdk/patches/@omnigraph__json-schema@0.96.0.patch
  packages/sdk/patches/@omnigraph__openapi@0.95.7.patch
  packages/sdk/patches/graphql-scalars+1.22.4.patch
  packages/sdk/patches/graphql-scalars@1.22.4.patch
  packages/sdk/patches/json-machete+0.96.0.patch
  packages/sdk/patches/json-machete@0.96.0.patch
  packages/sdk/src/client/errors.ts
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  patches/@graphql-mesh__string-interpolation@0.5.2.patch
  patches/@omnigraph__json-schema@0.96.0.patch
  patches/@omnigraph__openapi@0.95.7.patch
  patches/graphql-scalars@1.22.4.patch
  patches/json-machete@0.96.0.patch
  pnpm-lock.yaml
Labels: npm, sdk

#1332 fix: update wunderctl to 0.176.2
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk
