Repository wundergraph/wundergraph, pull requests merged in 2023-03, with the labels that each got.

#708 fix: sse json patch
  pkg/apihandler/apihandler.go
Labels: engine

#703 fix: operation name normalization on Windows
  cli/commands/loadoperations.go
  examples/simple/package.json
  pkg/loadoperations/fixtures/loadoperations.golden
  pkg/loadoperations/loader.go
  pkg/loadoperations/loader_test.go
  pkg/loadoperations/testdata/loadoperations/operations/LevelChat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/LevelChat.ts
  pkg/loadoperations/testdata/loadoperations/operations/LevelNestedOne.ts
  pkg/loadoperations/testdata/loadoperations/operations/PREFIXChat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/Chat.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/message.graphql
  pkg/loadoperations/testdata/loadoperations/operations/level/nested/one.ts
  pkg/loadoperations/testdata/loadoperations/schema.graphql
  pkg/watcher/watcher.go
Labels: engine

#678 feat: add support for injecting variables into nested paths
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  docs-website/src/pages/docs/directives-reference/inject-current-datetime-directive.md
  docs-website/src/pages/docs/directives-reference/inject-environment-variable-directive.md
  docs-website/src/pages/docs/directives-reference/inject-generated-uuid-directive.md
  docs-website/src/pages/docs/directives-reference/json-schema-directive.md
  go.mod
  go.sum
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/auth/.wundergraph/operations/claims/IntoStruct.graphql
  testapps/auth/.wundergraph/operations/claims/NestedInjectedClaim.graphql
  testapps/auth/.wundergraph/operations/claims/NestedInjectedClaims.graphql
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/.wundergraph/wundergraph.server.ts
  testapps/auth/test/index.test.ts
  testapps/default/.wundergraph/operations/CountryByFilter.graphql
  testapps/default/.wundergraph/operations/CountryByFilterValidated.graphql
  testapps/default/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#715 fix: crash in ServerPortFromConfig when configuration is invalid
  cli/helpers/process.go
Labels: engine

#706 feat: add support for declaring a list of public claims
  docs-website/src/pages/docs/auth/claims.md
  docs-website/src/pages/docs/auth/index.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/claims.template.ts
  packages/sdk/src/codegen/templates/typescript/claims.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
  pkg/httpidletimeout/httpidletimeout_test.go
  pkg/jsonpath/jsonpath.go
  pkg/jsonpath/jsonpath_test.go
  pkg/wgpb/wundernode_config.pb.go
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#719 chore: upgrade json5 and golang.org/x/net
  docs-website/package-lock.json
  docs-website/package.json
  go.mod
  go.sum
  pnpm-lock.yaml
Labels: npm, engine

#717 chore: remove new api introspection
  packages/sdk/package.json
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/openapi/execution.ts
  packages/sdk/src/openapi/index.ts
  packages/sdk/src/openapi/introspection.ts
  packages/sdk/src/server/mount-path.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/util.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#723 fix: upload types
  packages/react-query/src/types.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/test-d/client.test-d.ts
  packages/solid-query/src/types.ts
  packages/swr/src/types.ts
  packages/swr/tests/swr.test-d.ts
Labels: npm, sdk

#716 feat: add support for generating OpenAPI specs for applications
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/features/index.md
  docs-website/src/pages/docs/features/openapi-postman.md
  docs-website/src/pages/docs/frequently-asked-questions/does-wundergraph-support-postman-collections.md
  docs-website/src/pages/docs/guides/index.md
  packages/sdk/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/openapibuilder/operations.ts
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.ts
  pnpm-lock.yaml
Labels: npm, sdk

#722 fix: don't require a clientRequest for hooks
  pkg/apihandler/apitransport.go
  pkg/hooks/hooks.go
Labels: engine

#724 chore: increase wunderctl dependency version to 0.132 in SDK
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#725 chore: bump SDK dependency in examples to 0.138
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/cross-api-joins/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/fragments/package.json
  examples/golang-client/package.json
  examples/graphql-apollo-subscriptions/package.json
  examples/graphql-hasura-subscriptions/package.json
  examples/graphql-sse-subscriptions/package.json
  examples/graphql-subscriptions-hooks/package.json
  examples/graphql-ws-subscriptions/package.json
  examples/graphql-yoga-sse-subscriptions/package.json
  examples/hooks/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/nodejs-ts-client/package.json
  examples/openapi-mocking/package.json
  examples/postgres/package.json
  examples/rbac/package.json
  examples/remix/package.json
  examples/schema-extension/package.json
  examples/simple/package.json
  examples/vite-solidjs/package.json
  examples/vite-swr/package.json
  examples/webhooks/package.json
  packages/sdk/src/configure/index.ts
  packages/sdk/src/testing/index.ts
  scripts/test-examples/single.sh
Labels: npm, sdk

#427 fix: custom int/float scalars usage in arguments (#427)Co-authored-by: Alberto García Hierro <alberto@garciahierro.com> Co-authored-by: Sergiy <818351+devsergiy@users.noreply.github.com> Co-authored-by: spetrunin <neyasut@gmail.com>
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/graphql/__snapshots__/schema.test.ts.snap
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/graphql/schema.test.ts
  packages/sdk/src/graphql/schema.ts
  packages/sdk/src/transformations/__snapshots__/replaceCustomNumericScalars.test.ts.snap
  packages/sdk/src/transformations/__snapshots__/replaceCustomScalars.test.ts.snap
  packages/sdk/src/transformations/index.test.ts
  packages/sdk/src/transformations/replaceCustomNumericScalars.test.ts
  packages/sdk/src/transformations/replaceCustomNumericScalars.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/transformations/transformSchema.ts
  packages/sdk/src/v2openapi/__snapshots__/index.test.ts.snap
  packages/sdk/src/v2openapi/index.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/errors.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#714 chore: enable race detector in Go CI
  .github/actions/wunderctl/action.yaml
  .github/workflows/engine-ci.yaml
  .github/workflows/examples-ci.yaml
  .github/workflows/packages-ci.yaml
  packages/sdk/src/testing/index.ts
  pkg/datasources/database/datasource.go
  testapps/default/jest.config.js
Labels: npm, sdk, engine

#726 docs: add learn wundergraph (#726)Co-authored-by: Pagebakers <eelco@appulse.nl>
  docs-website/config/navigation.tsx
  docs-website/src/pages/learn/hello_world.md
  docs-website/src/pages/learn/index.md
  docs-website/src/pages/learn/joining_data_across_apis.md
  docs-website/src/pages/learn/thinking_in_api_dependencies.md
  docs-website/src/pages/learn/typescript_operations.md
  examples/learn-wundergraph/.env.example
  examples/learn-wundergraph/.gitignore
  examples/learn-wundergraph/.graphqlrc.yaml
  examples/learn-wundergraph/.wundergraph/operations/Dragons.graphql
  examples/learn-wundergraph/.wundergraph/operations/incremental/data.ts
  examples/learn-wundergraph/.wundergraph/operations/incremental/delay.ts
  examples/learn-wundergraph/.wundergraph/operations/users/get.ts
  examples/learn-wundergraph/.wundergraph/operations/users/subscribe.ts
  examples/learn-wundergraph/.wundergraph/operations/users/update.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/Country.graphql
  examples/learn-wundergraph/.wundergraph/operations/weather/CountryWeather.ts
  examples/learn-wundergraph/.wundergraph/operations/weather/Weather.graphql
  examples/learn-wundergraph/.wundergraph/wundergraph.config.ts
  examples/learn-wundergraph/.wundergraph/wundergraph.operations.ts
  examples/learn-wundergraph/.wundergraph/wundergraph.server.ts
  examples/learn-wundergraph/README.md
  examples/learn-wundergraph/jest.config.js
  examples/learn-wundergraph/next-env.d.ts
  examples/learn-wundergraph/package.json
  examples/learn-wundergraph/pages/_app.tsx
  examples/learn-wundergraph/pages/incremental/index.tsx
  examples/learn-wundergraph/pages/index.tsx
  examples/learn-wundergraph/pages/users/index.tsx
  examples/learn-wundergraph/pages/users/subscribe.tsx
  examples/learn-wundergraph/pages/users/update.tsx
  examples/learn-wundergraph/playwright.config.ts
  examples/learn-wundergraph/public/favicon.ico
  examples/learn-wundergraph/test/e2e.ts
  examples/learn-wundergraph/test/index.test.ts
  examples/learn-wundergraph/tsconfig.json
  pnpm-lock.yaml
Labels: npm

#728 feat: annotate OpenAPI spec with operation types and auth requirements
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/openapibuilder/operations.ts
Labels: npm, sdk

#731 fix: fixing multidimensional array schema in codegen (#731)Co-authored-by: abdelhameedalsayed <abdulhameed.azab@gmail.com>
  packages/sdk/src/codegen/templates/typescript/index.ts
  testapps/openapi/geojson/.gitignore
  testapps/openapi/geojson/.graphqlrc.yaml
  testapps/openapi/geojson/.wundergraph/geojson.yaml
  testapps/openapi/geojson/.wundergraph/operations/Location.graphql
  testapps/openapi/geojson/.wundergraph/wundergraph.config.ts
  testapps/openapi/geojson/.wundergraph/wundergraph.operations.ts
  testapps/openapi/geojson/.wundergraph/wundergraph.server.ts
  testapps/openapi/geojson/README.md
  testapps/openapi/geojson/jest.config.js
  testapps/openapi/geojson/package.json
  testapps/openapi/geojson/test/index.test.ts
  testapps/openapi/geojson/tsconfig.json
Labels: npm, sdk

#718 fix: do not inject empty queries (#718)Co-authored-by: Sergiy <818351+devsergiy@users.noreply.github.com> Co-authored-by: Eelco Wiersma <contact@pagebakers.nl> Co-authored-by: Alberto García Hierro <alberto@garciahierro.com>
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
Labels: npm, sdk

#733 chore: update the wunderctl version
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#727 feat: new local cache implementation
  cli/commands/clean.go
  cli/commands/generate.go
  cli/commands/root.go
  cli/commands/up.go
  cli/helpers/cache.go
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-introspection.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/localcache/index.test.ts
  packages/sdk/src/localcache/index.ts
  pkg/httpidletimeout/httpidletimeout_test.go
Labels: npm, sdk, engine

#746 chore: cleanup error messages during polling
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/introspection-cache.ts
Labels: npm, sdk

#751 chore: bump graphql-go-tools to 1.62.1
  go.mod
  go.sum
Labels: engine

#753 fix: data corruption when polling is enabled for federation sources
  packages/sdk/package.json
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/localcache/index.ts
  pnpm-lock.yaml
Labels: npm, sdk

#755 chore: bump wunderctl SDK dependency to 0.133.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#748 refactor: move authentication hook logic to pkg/hooks
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/hooks.go
  pkg/authentication/oidc.go
  pkg/hooks/authentication.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
Labels: engine

#758 feat: add build_info.json to sdk
  cli/commands/root.go
  packages/sdk/src/configure/index.ts
Labels: npm, sdk, engine

#763 chore: bump wunderctl dependency to 0.134
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#752 feat: use .cjs extension for commonjs to support esm projects
  cli/commands/generate.go
  cli/commands/server.go
  cli/commands/up.go
  packages/sdk/src/configure/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/webhooks/index.ts
  pkg/bundler/bundler.go
  testapps/vite/.wundergraph/wundergraph.config.ts
  testapps/vite/package.json
Labels: npm, sdk, engine

#701 refactor: pass a bytes.Buffer to hooks.EncodeData and reuse it
  pkg/apihandler/apihandler.go
  pkg/hooks/hooks.go
  pkg/hooks/pipeline.go
  testapps/default/test/index.test.ts
Labels: engine

#767 feat: enable CORS headers for requests that result in 404/405
  pkg/apihandler/apihandler.go
  pkg/node/node.go
Labels: engine

#762 fix: support TS operations that never return
  packages/sdk/src/configure/index.ts
  packages/sdk/src/openapibuilder/__snapshots__/index.test.ts.snap
  packages/sdk/src/openapibuilder/index.test.ts
Labels: npm, sdk

#773 chore: update wunderctl dependency version in SDK
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#776 fix: make TS operation response schema generation more forgiving
  packages/sdk/src/configure/index.ts
  testapps/default/test/index.test.ts
Labels: npm, sdk

#778 chore: bump SDK wunderctl dependency to 0.136.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#683 feat: svelte query client (#683)Co-authored-by: Sergiy Petrunin <spetrunin@users.noreply.github.com> Co-authored-by: Eelco Wiersma <contact@pagebakers.nl> Co-authored-by: Pagebakers <eelco@appulse.nl>
  packages/svelte-query/.npmignore
  packages/svelte-query/CHANGELOG.md
  packages/svelte-query/README.md
  packages/svelte-query/jest-setup.ts
  packages/svelte-query/jest.config.js
  packages/svelte-query/package.json
  packages/svelte-query/src/lib/createSvelteClient.ts
  packages/svelte-query/src/lib/index.ts
  packages/svelte-query/src/lib/types.ts
  packages/svelte-query/tests/TestComponents/FetchDisabledComponent.svelte
  packages/svelte-query/tests/TestComponents/FetchDisabledWrapper.svelte
  packages/svelte-query/tests/TestComponents/MutationWithAuthComponent.svelte
  packages/svelte-query/tests/TestComponents/MutationWithAuthWrapper.svelte
  packages/svelte-query/tests/TestComponents/MutationWithInvalidationComponent.svelte
  packages/svelte-query/tests/TestComponents/MutationWithInvalidationWrapper.svelte
  packages/svelte-query/tests/TestComponents/SubscriptionComponent.svelte
  packages/svelte-query/tests/TestComponents/SubscriptionWrapper.svelte
  packages/svelte-query/tests/TestComponents/UserComponent.svelte
  packages/svelte-query/tests/TestComponents/UserWrapper.svelte
  packages/svelte-query/tests/TestComponents/WeatherComponent.svelte
  packages/svelte-query/tests/TestComponents/WeatherWrapper.svelte
  packages/svelte-query/tests/queryUtils.test.ts
  packages/svelte-query/tests/svelte-query.test-d.ts
  packages/svelte-query/tsconfig.build.json
  packages/svelte-query/tsconfig.json
  pnpm-lock.yaml
Labels: npm

#771 feat: add beta omnigraph backed open api data
  packages/sdk/package.json
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/server/plugins/omnigraph.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/v2openapi/index.ts
  packages/sdk/src/v2openapi/omnigraph.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/JSP.graphql
  testapps/default/.wundergraph/operations/Post.graphql
  testapps/default/.wundergraph/operations/Posts.graphql
  testapps/default/.wundergraph/operations/foo/Join.graphql
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/json_placeholder.json
  testapps/default/test/index.test.ts
Labels: npm, sdk, engine

#780 chore: bump wunderctl dependency in SDK to 0.137.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk
