Repository wundergraph/wundergraph, pull requests merged in 2023-07, with the labels that each got.

#1099 feat: reimplement customJSONScalars
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-data-sources.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/schema-extension-configuration.md
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/graphql/configuration.test.ts
  packages/sdk/src/graphql/configuration.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/transformations/replaceCustomScalars.test.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/src/v2openapi/index.ts
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/Characters.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/operations/CreateFriend.graphql
  packages/testsuite/apps/schema-extensions/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/schema-extensions/graphql-server.ts
  packages/testsuite/apps/schema-extensions/package.json
  packages/testsuite/apps/schema-extensions/schema-extensions.test-d.ts
  packages/testsuite/apps/schema-extensions/schema-extensions.test.ts
  packages/testsuite/apps/schema-extensions/tsconfig.json
Labels: npm, sdk

#1103 feat: support different types with the same when generating OAS
  packages/sdk/src/openapibuilder/index.test.ts
  packages/sdk/src/openapibuilder/index.ts
Labels: npm, sdk

#1109 feat: updated SWR to 2.2.0
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/expo-swr/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-swr/package.json
  packages/nextjs/package.json
  packages/swr/package.json
  packages/swr/src/types.ts
  pnpm-lock.yaml
  testapps/expo/package.json
  testapps/nextauth/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: npm, nextjs

#1110 fix: customJSONScalars are ignored when introspection is fetched from cache
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/namespacing.ts
Labels: npm, sdk

#1113 chore: increase wunderctl dependency version in SDK to 0.163.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1096 feat: add support for feature usage telemetry
  cli/commands/root.go
  cli/commands/up.go
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/index.test.ts.snap
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/server/plugins/hooks.test.ts
  pkg/telemetry/annotate.go
  pkg/telemetry/client.go
  pkg/telemetry/config.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/features.go
  pkg/telemetry/metrics.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#1118 fix: make telemetry metric generation async
  cli/commands/root.go
Labels: engine

#1119 fix: download correct prisma binaries for linux/arm64
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
Labels: engine

#1121 feat: add support for openai
  cli/commands/generate.go
  cli/commands/up.go
  examples/apollo-federation/.wundergraph/operations/PriceUpdates.graphql
  examples/apollo-federation/.wundergraph/operations/TopProducts.graphql
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/openai/index.ts
  packages/sdk/src/openapibuilder/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  pkg/loadoperations/loader.go
  pkg/operations/operations.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/CountryByCode.graphql
  testapps/default/.wundergraph/operations/openai/extract_website_metadata.ts
  testapps/default/.wundergraph/operations/openai/load_url.ts
  testapps/default/.wundergraph/operations/openai/query.ts
  testapps/default/.wundergraph/operations/openai/summarize_url_content.ts
  testapps/default/.wundergraph/operations/weather/GetCityByName.graphql
  testapps/default/package.json
Labels: npm, sdk, engine

#1125 chore: bump wunderctl dependency in SDK to 0.164.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1126 feat: improve openai
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/openai/index.md
  packages/sdk/src/openai/index.ts
  testapps/default/.wundergraph/operations/openai/summarize_url_content.ts
Labels: npm, sdk

#1127 fix: don't try to import server.ts if it doesn't exist, avoid importing it twice
  pkg/operations/operations.go
Labels: engine

#1122 fix: make errors in wunderctl and prisma introspection more visible
  cli/commands/root.go
  packages/sdk/src/db/introspection.ts
  pkg/datasources/database/engine.go
Labels: npm, sdk, engine

#1129 chore: bump wunderctl dependency in SDK to 0.165.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1133 fix: when caching a plan, take operationName into account
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/apihandler/graphql.go
  pkg/apihandler/graphql_test.go
Labels: engine

#1134 fix: prisma openssl detection on alpine and fedora based distros
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine.go
  pkg/datasources/database/fetch_engine_test.go
Labels: engine

#1136 fix: move codegen template helpers out of internal
  packages/golang-client/src/index.ts
  packages/nextjs/src/template.ts
  packages/sdk/package.json
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/internal/README.md
  packages/sdk/src/internal/index.ts
  pnpm-lock.yaml
Labels: npm, sdk, nextjs

#1135 feat: upgrade to typescript 5
  docs-website/package.json
  packages/create-wundergraph-app/package.json
  packages/golang-client/package.json
  packages/metro-config/package.json
  packages/nextjs/package.json
  packages/orm/package.json
  packages/protobuf/package.json
  packages/react-query/package.json
  packages/react-relay/package.json
  packages/sdk/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/swr/package.json
  packages/testsuite/package.json
  packages/vue-query/package.json
  packages/wunderctl/package.json
  pnpm-lock.yaml
  testapps/default/package.json
  testapps/expo/package.json
  testapps/nextauth/package.json
  testapps/nextjs-relay/package.json
  testapps/nextjs/package.json
  testapps/postgres/package.json
  testapps/simple/package.json
  testapps/vite/package.json
Labels: npm, sdk, nextjs, types, wunderctl

#1137 fix: add cloudflare worker support for client
  packages/sdk/src/client/client.ts
Labels: npm, sdk

#1108 feat: add support for license management
  .github/goreleaser/.goreleaser-darwin.yml
  .github/goreleaser/.goreleaser-linux.yml
  .github/goreleaser/.goreleaser-windows.yml
  cli/commands/license.go
  cli/commands/node.go
  cli/commands/start.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/config/wundergraph.go
  pkg/features/features.go
  pkg/licensing/licensing.go
  pkg/licensing/licensing_test.go
  pkg/telemetry/client.go
  pkg/telemetry/data_sources.go
  pkg/telemetry/features.go
Labels: engine

#1138 chore: add feature detection for OpenAI
  pkg/features/features.go
Labels: engine

#1139 feat: unify pretty logs
  cli/commands/generate.go
  cli/commands/loadoperations.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/scripts.go
  cli/helpers/server_runner.go
  go.mod
  go.sum
  packages/sdk/package.json
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/logging/logging.go
  pkg/logging/prettifier.go
  pkg/logging/prettifier_test.go
  pkg/logging/pretty_encoder.go
  pkg/scriptrunner/scriptrunner.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#1144 chore: bump wunderctl dependency in SDK to 0.166.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1143 fix: peer dependency warnings
  package.json
  packages/metro-config/package.json
  packages/react-query/package.json
  packages/react-relay/package.json
  packages/sdk/package.json
  packages/solid-query/package.json
  packages/svelte-query/package.json
  packages/swr/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
  testapps/expo/package.json
Labels: npm, sdk

#1146 chore: bump wunderctl dependency in SDK to 0.166.1
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1149 feat: support GraphQL files with .gql extension
  pkg/loadoperations/loader.go
Labels: engine

#1151 fix: allow TS operations to override a requiredAuthentication with false
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/graphql/__snapshots__/operations.test.ts.snap
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/operations/operations.ts
  packages/testsuite/apps/auth/.wundergraph/operations/echo/FromTS.ts
  packages/testsuite/apps/auth/auth.test.ts
Labels: npm, sdk, nextjs

#1152 fix: do not import prettier from the ORM
  packages/orm/src/codegen/index.ts
Labels: npm

#1154 feat: enable log messages when parsing OpenAPI specs
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
Labels: npm, sdk

#1059 feat: unify authentication mechanisms, redirect back with errors
  packages/sdk/src/client/client.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/github.go
  pkg/authentication/handler.go
  pkg/authentication/oauth2.go
  pkg/authentication/oidc.go
Labels: npm, sdk, engine

#1158 chore: bump wunderctl dependency in SDK to 0.167.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1155 fix: nats subscriptions
  go.mod
  go.sum
  packages/sdk/src/client/client.ts
  packages/sdk/src/definition/__snapshots__/nats-kv-introspection.test.ts.snap
  packages/sdk/src/definition/nats-kv-introspection.ts
  packages/testsuite/apps/nats-kv/.wundergraph/operations/gql_watch.graphql
  packages/testsuite/apps/nats-kv/.wundergraph/operations/gql_watch_all.graphql
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/schema-extensions/test-setup.sh
  pkg/apihandler/apihandler.go
  pkg/datasources/nats/datasource.go
  pkg/datasources/nats/datasource_test.go
  pkg/querystring/querystring.go
  pkg/querystring/querystring_test.go
  testapps/default/.wundergraph/operations/kv/gql_subscribe.graphql
  testapps/default/.wundergraph/operations/kv/gql_update.graphql
  testapps/default/.wundergraph/operations/kv/gql_watch.graphql
Labels: npm, sdk, engine
