Repository wundergraph/wundergraph, pull requests merged in 2023-08, with the labels that each got.

#1167 chore: upgrade gin to fix security issues
  go.mod
  go.sum
Labels: engine

#1165 feat: improve support for BigInt
  go.mod
  go.sum
  packages/sdk/src/codegen/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/definition/__snapshots__/openapi-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/soap-introspection.test.ts.snap
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/definition/soap-introspection.ts
  packages/sdk/src/graphql/operations.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/openapi/.wundergraph/operations/DeleteNote.graphql
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/openapi.test.ts
Labels: npm, sdk, engine

#1168 chore: bump wunderctl dependency in SDK to 0.168.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1169 feat: implement schema extension and replaceCustomScalarTypeFields fo…
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/NoteByID.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
Labels: npm, sdk

#1160 fix: allow svelte 3 | 4 peer-dependency in @wundergraph/svelte-query …
  packages/svelte-query/package.json
Labels: npm

#1173 fix: add support for renaming root field response types
  go.mod
  go.sum
  packages/sdk/src/codegen/generateoperations.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/sdk/tsconfig.json
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/Reminders.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi.test.ts
  packages/testsuite/apps/openapi/test-server.ts
Labels: npm, sdk, engine

#1175 chore: update wunderctl dependency to 0.169.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1176 fix: oidc token exchange
  pkg/apihandler/apihandler.go
  pkg/authentication/oidc.go
Labels: engine

#1178 chore: update wunderctl dependency to 0.169.1
  README.md
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1184 feat: add docs about .wundergraphignore
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/cloud/wundergraph-ignore.md
  pnpm-lock.yaml
Labels: npm

#1185 chore: remove discourse link
  packages/sdk/README.md
Labels: npm, sdk

#1188 fix(mock-library): ensure to read req body only once
  packages/sdk/src/testing/mock-server.test.ts
  packages/sdk/src/testing/mock-server.ts
  packages/sdk/src/testing/util.ts
  packages/testsuite/apps/mock/.wundergraph/operations/CountryWeather.graphql
  packages/testsuite/apps/mock/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/mock/test/api-joins.test.ts
Labels: npm, sdk

#1191 fix: server logger missing cloud env bindings
  packages/sdk/src/logger/index.ts
Labels: npm, sdk

#1190 fix: type error in generated jsonschema.ts file
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
Labels: npm, sdk

#1192 chore: update wunderctl dependency to 0.169.2
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1194 fix: jsonschema template
  packages/sdk/src/codegen/templates/typescript/jsonschema.template.ts
Labels: npm, sdk

#1204 fix: operation hooks not setup for openapi
  docs-website/src/pages/docs/wundergraph-server-ts-reference/on-origin-request-hook.md
  packages/testsuite/apps/basic/index.test.ts
  pkg/apihandler/apitransport.go
Labels: npm, engine

#1205 fix: add prettier as a direct SDK dependency
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1206 chore: update wunderctl dependency to 0.169.3
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1156 feat(wunderctl): option to set host to bind to for debugging only
  CONTRIBUTING.md
  cli/commands/up.go
  cli/helpers/server_runner.go
Labels: engine

#1207 fix: increase line buffer size when running a script from wunderctl
  pkg/scriptrunner/scriptrunner.go
Labels: engine

#1208 fix: remove duplicated @removeNullVariables directive
  go.mod
  go.sum
  pkg/datasources/database/datasource_test.go
Labels: engine

#1211 feat: make GraphQL playground available in more scenarios without additional configuration
  pkg/apihandler/graphql.go
Labels: engine

#1141 fix: allow setting logging levels from command line
  cli/commands/node.go
  cli/commands/root.go
  cli/commands/server.go
  cli/commands/up.go
  cli/helpers/env.go
  cli/helpers/flags.go
  cli/helpers/server_runner.go
  docs/migrations/wunderctl-0.170.0.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/configure/options.ts
  packages/sdk/src/logger/index.ts
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/wunderctlexec/index.ts
  pkg/logging/logging.go
  pkg/node/node_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#1213 chore: bump wunderctl dependency in SDK to 0.170.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1209 fix: use json-stream-stringify to encode potentially big JSON payloads
  packages/sdk/package.json
  packages/sdk/src/definition/introspection-cache.ts
  packages/sdk/src/localcache/index.ts
  packages/sdk/src/utils/tojson.test.ts
  packages/sdk/src/utils/tojson.ts
  pnpm-lock.yaml
Labels: npm, sdk

#1163 fix: allow operations that don't require authentication to work with authenticated users
  packages/sdk/src/client/client.ts
  pkg/authentication/authentication.go
Labels: npm, sdk, engine

#1216 feat: continue generation on graphql validation failures during development
  cli/commands/root.go
  cli/commands/up.go
  packages/sdk/src/graphql/operations.ts
Labels: npm, sdk, engine

#1186 chore(docs-legal): update and rename license file
  LICENSE.COMMUNITY.md
  LICENSE.ENTERPRISE.md
  packages/sdk/src/enterprise/advanced-hooks/README.md
  packages/sdk/src/enterprise/advanced-hooks/codegen.template.ts
  packages/sdk/src/enterprise/advanced-hooks/codegen.ts
  packages/sdk/src/enterprise/advanced-hooks/http-transport.ts
  packages/sdk/src/enterprise/advanced-hooks/index.ts
  packages/sdk/src/enterprise/advanced-hooks/merge.ts
  packages/sdk/src/enterprise/datasources/soap.ts
  pkg/hooks/types.go
Labels: npm, sdk, engine

#1222 chore: bump mesh related dependencies to 0.94.6 to fix warnings
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1225 fix: avoid printing an extra line when a child command exits
  pkg/scriptrunner/scriptrunner.go
Labels: engine

#1224 feat: implement new console UI
  cli/commands/root.go
  cli/commands/up.go
  go.mod
  go.sum
  pkg/cui/cui.go
  pkg/restart/restart.go
Labels: engine

#1236 chore: rename auth entry
  packages/sdk/package.json
  pnpm-lock.yaml
  testapps/nextjs-integrations/wundergraph/wundergraph.config.ts
Labels: npm, sdk

#1226 chore: make openapi debug messages log at debug level
  packages/sdk/src/server/server.ts
Labels: npm, sdk

#1239 fix: wait for the poll interval when a function returns the same output to a live query
  packages/testsuite/apps/basic/.wundergraph/operations/functions/trigger-livequery-bug.ts
  packages/testsuite/apps/basic/livequery.test.ts
  pkg/apihandler/apihandler.go
Labels: npm, engine

#1240 fix: remove duplicate WriteHeader calls
  pkg/apihandler/apihandler.go
Labels: engine

#1242 fix: make sure a function's input is always non null
  packages/sdk/src/server/plugins/functions.ts
Labels: npm, sdk

#1227 feat: multipart plugin in webhooks
  packages/sdk/package.json
  packages/sdk/src/server/plugins/webhooks.ts
  pnpm-lock.yaml
Labels: npm, sdk
