Repository wundergraph/wundergraph, pull requests merged in 2023-11, with the labels that each got.

#1335 fix: make test server start timeout configurable
  package.json
  packages/sdk/src/testing/test-server.test.ts
  packages/sdk/src/testing/test-server.ts
  packages/sdk/src/testing/test-servers.ts
  pnpm-lock.yaml
  testapps/default/package.json
  testapps/default/test/index.test.ts
  testapps/default/vitest.config.ts
Labels: npm, sdk

#1337 fix: fixed issue where input validation errors would not return correct content type header
  pkg/apihandler/apihandler.go
Labels: engine

#1340 fix: update to wunderctl 0.176.3
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1338 feat: nextjs 14 support
  docs-website/package-lock.json
  docs-website/package.json
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/minio/Dockerfile
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-relay-todos/package.json
  examples/nextjs-relay/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/rbac/package.json
  examples/vite-react-relay/package.json
  packages/nextjs/package.json
  packages/swr/package.json
  pnpm-lock.yaml
  testapps/nextauth/package.json
  testapps/nextjs-integrations/minio/Dockerfile
  testapps/nextjs-integrations/package.json
  testapps/nextjs-relay/minio/Dockerfile
  testapps/nextjs-relay/package.json
  testapps/nextjs/minio/Dockerfile
  testapps/nextjs/package.json
Labels: npm, nextjs

#1344 fix: take schema extensions into account when renaming input types for upstream
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/namespacing.test.ts
  packages/sdk/src/definition/namespacing.ts
  packages/sdk/src/transformations/replaceCustomScalars.ts
  packages/testsuite/apps/openapi/.wundergraph/api.yaml
  packages/testsuite/apps/openapi/.wundergraph/operations/EchoJSONData.graphql
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/operations/federated/Me.graphql
  testapps/default/.wundergraph/operations/federated/SetPrice.graphql
  testapps/default/.wundergraph/operations/federated/TopProducts.graphql
  testapps/default/.wundergraph/operations/federated/UpdatedPrice.graphql
  testapps/default/.wundergraph/operations/federation/CustomPriceUpdates.ts
  testapps/default/.wundergraph/operations/federation/PriceUpdates.graphql
  testapps/default/.wundergraph/operations/federation/WrapperPriceUpdates.ts
  testapps/default/.wundergraph/wundergraph.config.ts
Labels: npm, sdk

#1346 fix: accept undefined data in client and support anonymous mutations
  packages/sdk/src/client/client.ts
Labels: npm, sdk

#1347 fix: test server timeout
  packages/sdk/src/testing/test-server.ts
Labels: npm, sdk
