Repository wundergraph/wundergraph, pull requests merged in 2023-02, with the labels that each got.

#595 chore: improve functions
  packages/sdk/package.json
  packages/sdk/src/client/AuthorizationError.ts
  packages/sdk/src/client/ClientResponseError.ts
  packages/sdk/src/client/GraphQLResponseError.ts
  packages/sdk/src/client/InputValidationError.ts
  packages/sdk/src/client/ResponseError.ts
  packages/sdk/src/client/client.test.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/codegen/templates/typescript/helpers.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.template.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/src/operations/index.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/server.ts
  packages/swr/tests/hooks.test.tsx
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/hooks/hooks.go
  pkg/node/node.go
  pkg/operations/operations.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/users/child.ts
  testapps/default/.wundergraph/operations/users/get.ts
  testapps/default/.wundergraph/operations/users/parent.ts
  testapps/default/.wundergraph/operations/users/put.ts
  testapps/default/package.json
  testapps/default/tsconfig.json
  testapps/nextjs/.wundergraph/operations/users/get.ts
  testapps/nextjs/.wundergraph/operations/users/nested.ts
  testapps/nextjs/.wundergraph/operations/users/subscribe.ts
  testapps/nextjs/pages/functions/get.tsx
Labels: npm, sdk, engine

#625 fix: factory type errors
  packages/sdk/src/operations/operations.ts
Labels: npm, sdk

#626 feat: when OIDC authentication is refused, redirect back with the error
  pkg/authentication/oidc.go
Labels: engine

#628 chore: update wunderctl dependency to 0.129
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#631 fix: pass file upload hooks to upload configuration resolution
  packages/sdk/src/configure/index.ts
Labels: npm, sdk

#636 fix: avoid feeding paths into applicationHash calculation
  packages/golang-client/src/index.ts
  packages/nextjs/src/template.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/index.ts
  packages/sdk/src/codegen/templates/markdown/authentication.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/forms.ts
  packages/sdk/src/codegen/templates/typescript/hooks.ts
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/codegen/templates/typescript/internal.client.ts
  packages/sdk/src/codegen/templates/typescript/internal.operations.client.ts
  packages/sdk/src/codegen/templates/typescript/jsonschema.ts
  packages/sdk/src/codegen/templates/typescript/linkbuilder.ts
  packages/sdk/src/codegen/templates/typescript/operations.ts
  packages/sdk/src/codegen/templates/typescript/react.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/codegen/templates/typescript/testing.ts
  packages/sdk/src/codegen/templates/typescript/web.client.ts
  packages/sdk/src/codegen/templates/typescript/webhooks.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/index.ts
Labels: npm, sdk, nextjs

#640 fix: pass GH token in HTTTP call from getExamplesList()
  packages/create-wundergraph-app/src/helpers/examples.ts
Labels: npm

#632 feat: add support for uploads from anonymous users
  examples/nextjs-file-upload/.gitignore
  examples/nextjs-file-upload/.wundergraph/wundergraph.config.ts
  examples/nextjs-file-upload/.wundergraph/wundergraph.server.ts
  examples/nextjs-file-upload/package.json
  examples/nextjs-file-upload/pages/index.tsx
  examples/nextjs-file-upload/playwright.config.ts
  examples/nextjs-file-upload/test/e2e.ts
  examples/nextjs-file-upload/test/wundergraph.jpg
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/client.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/configure/index.ts
  pkg/apihandler/apihandler.go
  pkg/s3uploadclient/helpers_test.go
  pkg/s3uploadclient/s3uploadclient.go
  pkg/s3uploadclient/s3uploadclient_test.go
  pkg/wgpb/wundernode_config.pb.go
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#639 fix: fix wundernode ui
  pkg/node/nodetemplates/resources/index.html
Labels: engine

#643 chore: bump wunderctl SDK dependency to 0.130
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#637 fix: inject provider err
  pkg/apihandler/apihandler.go
Labels: engine

#641 chore: examples, clean up
  examples/schema-extension/.wundergraph/wundergraph.config.ts
  packages/sdk/src/configure/operations.ts
Labels: npm, sdk

#649 fix: avoid downloading prisma binaries multiple times on Windows
  pkg/datasources/database/engine.go
Labels: engine

#658 chore: upgrade dependencies to fix security issues
  go.mod
  go.sum
Labels: engine

#648 feat: add support for custom claims (#648
  docs-website/src/pages/docs/directives-reference/from-claim-directive.md
  docs/migrations/sdk-0.134.0-0.135.0.md
  packages/protobuf/wgpb/wundernode_config.ts
  packages/sdk/src/client/types.ts
  packages/sdk/src/codegen/index.test.ts
  packages/sdk/src/codegen/templates/index.ts
  packages/sdk/src/codegen/templates/typescript/claims.template.ts
  packages/sdk/src/codegen/templates/typescript/claims.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
  packages/sdk/src/codegen/templates/typescript/client.ts
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/codegen/templates/typescript/server.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/__snapshots__/graphql-introspection.test.ts.snap
  packages/sdk/src/definition/__snapshots__/merge.test.ts.snap
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/merge.test.ts
  packages/sdk/src/definition/merge.ts
  packages/sdk/src/graphql/operations.test.ts
  packages/sdk/src/graphql/operations.ts
  packages/sdk/src/operations/operations.ts
  packages/sdk/src/server/plugins/functions.ts
  packages/sdk/src/server/types.ts
  packages/sdk/src/testing/index.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/authentication_test.go
  pkg/authentication/github.go
  pkg/authentication/oidc.go
  pkg/inputvariables/validator.go
  pkg/operations/operations.go
  pkg/wgpb/wundernode_config.pb.go
  pnpm-lock.yaml
  testapps/auth/.gitignore
  testapps/auth/.graphqlrc.yaml
  testapps/auth/.wundergraph/operations/claims/FloatingPointValue.graphql
  testapps/auth/.wundergraph/operations/claims/ShopID.graphql
  testapps/auth/.wundergraph/operations/claims/TenantID.graphql
  testapps/auth/.wundergraph/operations/claims/User.ts
  testapps/auth/.wundergraph/operations/claims/UserID.graphql
  testapps/auth/.wundergraph/operations/claims/WellKnown.graphql
  testapps/auth/.wundergraph/operations/echo/String.graphql
  testapps/auth/.wundergraph/wundergraph.config.ts
  testapps/auth/.wundergraph/wundergraph.operations.ts
  testapps/auth/.wundergraph/wundergraph.server.ts
  testapps/auth/jest.config.js
  testapps/auth/package.json
  testapps/auth/test/index.test.ts
  testapps/auth/tsconfig.json
  testapps/jwks/.wundergraph/operations/Hello.graphql
  testapps/jwks/.wundergraph/wundergraph.server.ts
  testapps/jwks/test/index.test.ts
  types/protos/wundernode_config.proto
Labels: npm, sdk, types, engine

#661 fix: internal client should use correct mappings for nested operations
  packages/sdk/src/codegen/templates/typescript/internal.client.template.ts
  packages/sdk/src/server/internal-client.ts
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/nested/Internal.graphql
  testapps/default/.wundergraph/operations/nested/InternalWrapper.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/jest.config.js
  testapps/default/package.json
  testapps/default/test/index.test.ts
Labels: npm, sdk

#662 chore: update graphql-go-tools
  go.mod
  go.sum
  pkg/node/node_test.go
Labels: engine

#663 chore: bump wunderctl dependency to 0.131
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#660 fix: modify build scripts
  docs-website/src/pages/docs/cloud/deployments.md
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/package.json
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/nextjs/package.json
  examples/remix/.wundergraph/wundergraph.config.ts
  examples/remix/package.json
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/vite-swr/package.json
  packages/sdk/src/cors/index.ts
  testapps/auth/test/index.test.ts
Labels: npm, sdk

#664 chore: replace github.com/dgrijalva/jwt-go with github.com/golang-jwt/jwt/v4
  go.mod
  go.sum
  pkg/apihandler/apitransport.go
Labels: engine

#621 feat: new open api introspection
  packages/sdk/package.json
  packages/sdk/src/configure/index.test.ts
  packages/sdk/src/configure/index.ts
  packages/sdk/src/definition/database-introspection.ts
  packages/sdk/src/definition/federation-introspection.ts
  packages/sdk/src/definition/graphql-introspection.test.ts
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/index.test.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/sdk/src/openapi/execution.ts
  packages/sdk/src/openapi/index.ts
  packages/sdk/src/openapi/introspection.ts
  packages/sdk/src/server/mount-path.ts
  packages/sdk/src/server/plugins/graphql.ts
  packages/sdk/src/server/server-options.ts
  packages/sdk/src/server/server.ts
  pkg/apihandler/apihandler.go
  pkg/apihandler/internalapihandler.go
  pkg/engineconfigloader/engineconfigloader.go
  pkg/node/config.go
  pkg/node/node.go
  pnpm-lock.yaml
Labels: npm, sdk, engine

#624 feat(postman): add folders for postman collections + postman types (#624)Co-authored-by: Alberto García Hierro <alberto@garciahierro.com> Co-authored-by: Dustin Deus <deusdustin@gmail.com>
  packages/sdk/src/postman/__snapshots__/builder.test.ts.snap
  packages/sdk/src/postman/builder.test.ts
  packages/sdk/src/postman/builder.ts
  packages/sdk/src/typedefinitions/postman-collection/index.d.ts
Labels: npm, sdk

#679 fix: client template imports
  packages/sdk/src/codegen/templates/typescript/web.client.template.ts
Labels: npm, sdk

#680 feat: provide a default baseURL in the Go client
  docs-website/src/pages/docs/supported-backend-languages-frameworks/golang-go.md
  examples/golang-client/go/main.go
  packages/golang-client/src/client-template.ts
  packages/golang-client/src/index.ts
Labels: npm

#685 feat: provide more detailed error messages when introspecting databases
  pkg/datasources/database/engine.go
Labels: engine

#694 chore: add example of not updating list
  examples/nextjs/.wundergraph/operations/incremental/data.ts
  examples/nextjs/.wundergraph/operations/incremental/delay.ts
  examples/nextjs/package.json
  examples/nextjs/pages/incremental/index.tsx
  packages/sdk/src/client/client.ts
  testapps/nextjs/.wundergraph/operations/incremental/data.ts
  testapps/nextjs/.wundergraph/operations/incremental/delay.ts
  testapps/nextjs/pages/incremental/index.tsx
Labels: npm, sdk

#696 fix: enable ts strict mode in examples for much faster type inference
  examples/apollo-federation/pages/_app.tsx
  examples/apollo-federation/pages/product/update.tsx
  examples/apollo-federation/test/index.test.ts
  examples/apollo-federation/tsconfig.json
  examples/auth0-oidc-authentication/pages/_app.tsx
  examples/auth0-oidc-authentication/tsconfig.json
  examples/caching/pages/_app.tsx
  examples/caching/tsconfig.json
  examples/faunadb-nextjs/pages/_app.tsx
  examples/faunadb-nextjs/tsconfig.json
  examples/hooks/.wundergraph/wundergraph.server.ts
  examples/hooks/test/index.test.ts
  examples/hooks/tsconfig.json
  examples/inject-bearer/pages/_app.tsx
  examples/inject-bearer/tsconfig.json
  examples/keycloak-oidc-authentication/pages/_app.tsx
  examples/keycloak-oidc-authentication/tsconfig.json
  examples/migrate-from-apollo/pages/_app.tsx
  examples/migrate-from-apollo/tsconfig.json
  examples/nextjs-file-upload/pages/_app.tsx
  examples/nextjs-file-upload/tsconfig.json
  examples/nextjs-postgres-prisma/pages/_app.tsx
  examples/nextjs-postgres-prisma/tsconfig.json
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.server.ts
  examples/nextjs-postgres-user-filters/pages/_app.tsx
  examples/nextjs-postgres-user-filters/test/index.test.ts
  examples/nextjs-postgres-user-filters/tsconfig.json
  examples/nextjs-react-query/pages/_app.tsx
  examples/nextjs-react-query/tsconfig.json
  examples/nextjs-typescript-functions/pages/_app.tsx
  examples/nextjs-typescript-functions/tsconfig.json
  examples/nextjs/.wundergraph/operations/incremental/data.ts
  examples/nextjs/.wundergraph/operations/incremental/delay.ts
  examples/nextjs/pages/_app.tsx
  examples/nextjs/test/e2e.ts
  examples/nextjs/tsconfig.json
  examples/rbac/.wundergraph/wundergraph.server.ts
  examples/rbac/pages/_app.tsx
  examples/rbac/tsconfig.json
  examples/webhooks/tsconfig.json
  packages/sdk/src/client/index.ts
  packages/sdk/src/codegen/templates/typescript/client.template.ts
Labels: npm, sdk

#699 fix: graphql introspection with renamed query types
  Makefile
  packages/sdk/src/graphql/__snapshots__/schema.test.ts.snap
  packages/sdk/src/graphql/schema.test.ts
  packages/sdk/src/graphql/schema.ts
  testapps/simple/.wundergraph/operations/.keep
  testapps/simple/.wundergraph/operations/Hello.graphql
  testapps/simple/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

#700 chore: add example of internal subscription (#700)Co-authored-by: spetrunin <neyasut@gmail.com>
  packages/sdk/src/server/operations-client.ts
  pkg/apihandler/apihandler.go
  pnpm-lock.yaml
  testapps/default/.wundergraph/operations/federation/CustomPriceUpdates.ts
  testapps/default/.wundergraph/operations/federation/PriceUpdates.graphql
  testapps/default/.wundergraph/operations/federation/WrapperPriceUpdates.ts
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/.wundergraph/wundergraph.server.ts
Labels: npm, sdk, engine

#704 fix: support yarn 3 with create-wundergraph-app --init
  packages/create-wundergraph-app/src/helpers/getRepository.ts
Labels: npm

#666 feat: store generated authentication secrets in secrets manager on deploy
  docs-website/config/navigation.tsx
  docs-website/src/pages/docs/self-hosted/index.md
  docs-website/src/pages/docs/self-hosted/security.md
  docs-website/src/pages/docs/wundergraph-config-ts-reference/configure-cookie-based-authentication.md
  examples/apollo-federation/.env.example
  examples/apollo-federation/.wundergraph/wundergraph.config.ts
  examples/caching/.env.example
  examples/caching/.wundergraph/wundergraph.config.ts
  examples/hooks/.env.example
  examples/hooks/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-prisma/.env.example
  examples/nextjs-postgres-prisma/.wundergraph/wundergraph.config.ts
  examples/nextjs-postgres-user-filters/.env.example
  examples/nextjs-postgres-user-filters/.wundergraph/wundergraph.config.ts
  examples/nextjs-react-query/.env.example
  examples/nextjs-react-query/.wundergraph/wundergraph.config.ts
  examples/nextjs-typescript-functions/.env.example
  examples/nextjs-typescript-functions/.wundergraph/wundergraph.config.ts
  examples/nextjs/.env.example
  examples/nextjs/.wundergraph/wundergraph.config.ts
  examples/remix/.wundergraph/wundergraph.config.ts
  examples/vite-swr/.env.example
  examples/vite-swr/.wundergraph/wundergraph.config.ts
  examples/webhooks/.env.example
  examples/webhooks/.wundergraph/wundergraph.config.ts
  pkg/apihandler/api.go
  pkg/apihandler/apihandler.go
  pkg/node/node.go
  pkg/validate/apiconfig.go
  pkg/validate/apiconfig_test.go
  testapps/default/.wundergraph/wundergraph.config.ts
  testapps/default/test/index.test.ts
Labels: engine
