Repository wundergraph/wundergraph, pull requests merged in 2023-09, with the labels that each got.

#1243 fix: don't force redirect to HTTP when redirecting to HTTPS is not forced
  pkg/authentication/oauth2.go
Labels: engine

#1245 fix: don't interfere with terminal after running wunderctl up
  cli/commands/up.go
  pkg/apihandler/apihandler_test.go
  pkg/cui/cui.go
Labels: engine

#1246 chore: bump wunderctl dependency in SDK to 0.172.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1244 ci: add linter to detect unclosed http.Response bodies
  .golangci.yml
  pkg/apihandler/apihandler_test.go
  pkg/cacheheaders/cacheheaders_test.go
  pkg/datasources/database/engine.go
  pkg/datasources/database/fetch_engine_test.go
  pkg/hooks/hooks.go
  pkg/node/node_test.go
  pkg/trace/transport_test.go
Labels: engine

#1247 fix: string email_verified fields from sign in with apple
  pkg/authentication/authentication.go
  pkg/authentication/oidc.go
Labels: engine

#1253 chore: update lockfile and run tests on change
  .github/workflows/packages-ci.yaml
  .github/workflows/required_checks_dummy.yaml
  pnpm-lock.yaml
Labels: npm

#1251 chore: split create-wg-app tests, increase timeout
  packages/create-wundergraph-app/src/helpers/download.ts
  packages/create-wundergraph-app/src/tests/index.test.ts
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
  pkg/authentication/authentication.go
  pkg/hooks/hooks.go
Labels: npm, engine

#1257 chore: disable nats 2 tests
  packages/testsuite/apps/nats-kv/nats-kv.test.ts
Labels: npm

#1249 fix: test-d tests in sdk
  packages/sdk/package.json
  packages/sdk/src/server/operations-client.ts
  packages/sdk/src/server/server.ts
  packages/sdk/src/server/types.ts
  packages/sdk/test-d/operations-client.test-d.ts
  packages/sdk/test-d/operations.test-d.ts
  packages/sdk/test-d/server.test-d.ts
  packages/sdk/test-d/webhook-factory.test-d.ts
Labels: npm, sdk

#1258 chore: bump wunderctl dependency in SDK to 0.173.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1250 feat: improved context factory types
  docs-website/src/pages/docs/guides/context-factory.md
  docs-website/src/pages/docs/guides/logging.md
  docs-website/src/pages/docs/wundergraph-server-ts-reference/context-factory.md
  packages/sdk/src/codegen/templates/typescript/server.template.ts
  packages/sdk/src/server/index.ts
  packages/sdk/src/server/types.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.server.ts
  testapps/nextjs/.wundergraph/wundergraph.server.ts
Labels: npm, sdk

#1265 fix: show correct upstream request duration
  pkg/apihandler/apitransport.go
Labels: engine

#1268 feat: enable log output by default
  cli/commands/root.go
  cli/commands/up.go
  examples/apollo-federation/package.json
  examples/auth0-oidc-authentication/package.json
  examples/caching/package.json
  examples/faunadb-nextjs/package.json
  examples/inject-bearer/package.json
  examples/keycloak-oidc-authentication/package.json
  examples/learn-wundergraph/package.json
  examples/migrate-from-apollo/package.json
  examples/nextjs-clerk/package.json
  examples/nextjs-file-upload/package.json
  examples/nextjs-postgres-prisma/package.json
  examples/nextjs-postgres-user-filters/package.json
  examples/nextjs-react-query/package.json
  examples/nextjs-todos/package.json
  examples/nextjs-typescript-functions/package.json
  examples/nextjs/package.json
  examples/open-telemetry/package.json
  examples/rbac/package.json
  testapps/nextauth/package.json
  testapps/nextjs-integrations/package.json
  testapps/nextjs/package.json
  testapps/vite/package.json
Labels: engine

#1271 feat: make --debug log all requests and responses to the node
  cli/commands/node.go
  cli/commands/start.go
  cli/commands/up.go
  pkg/apihandler/apihandler.go
  pkg/apihandler/apihandler_test.go
  pkg/node/node.go
  pkg/node/node_test.go
Labels: engine

#1272 feat: log requests and responses to OpenAPI and SOAP upstreams
  packages/sdk/src/server/plugins/fetch.ts
  packages/sdk/src/server/plugins/omnigraphOAS.ts
  packages/sdk/src/server/plugins/omnigraphSOAP.ts
Labels: npm, sdk

#1266 feat: add rust client
  .github/workflows/packages-ci.yaml
  lerna.json
  packages/golang-client/src/index.ts
  packages/rust-client/README.md
  packages/rust-client/index.ts
  packages/rust-client/package.json
  packages/rust-client/tsconfig.json
  packages/sdk/src/codegen/templates/typescript/index.ts
  packages/sdk/src/configure/index.ts
  packages/testsuite/apps/basic/.wundergraph/wundergraph.generate.ts
  packages/testsuite/apps/basic/rust/.gitignore
  packages/testsuite/apps/basic/rust/Cargo.toml
  packages/testsuite/apps/basic/rust/test.sh
  packages/testsuite/apps/basic/rust/tests/Cargo.toml
  packages/testsuite/apps/basic/rust/tests/src/lib.rs
  packages/testsuite/apps/basic/rust/tests/tests/test.rs
  packages/testsuite/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1269 feat: include authentication refresh tokens in User objects
  packages/sdk/src/server/types.ts
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/config.go
  pkg/authentication/github.go
  pkg/authentication/oauth2.go
  pkg/authentication/oidc.go
Labels: npm, sdk, engine

#1273 chore: bump wunderctl dependency in SDK to 0.174.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1274 feat: improve protocol detection when determining callback URLs from auth providers
  pkg/apihandler/apihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/config.go
  pkg/authentication/oauth2.go
Labels: engine

#1276 fix: report errors when sending usage telemetry
  pkg/telemetry/client.go
  pkg/telemetry/client_test.go
Labels: engine

#1281 docs: add comment about introspect.OpenApi being phased out
  packages/sdk/src/definition/index.ts
Labels: npm, sdk

#1275 feat: allow revalidate hook to alter the user object, then save it back
  pkg/apihandler/apihandler.go
  pkg/apihandler/authentication.go
  pkg/apihandler/internalapihandler.go
  pkg/authentication/authentication.go
  pkg/authentication/oauth2.go
  pkg/hooks/authentication.go
Labels: engine

#1283 chore: bump wunderctl dependency in SDK to 0.175.0
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: npm, sdk

#1286 feat: add support for using environment variables and header in OAS introspection
  packages/sdk/src/definition/graphql-introspection.ts
  packages/sdk/src/definition/headers-builder.ts
  packages/sdk/src/definition/index.ts
  packages/sdk/src/definition/openapi-introspection.ts
  packages/testsuite/apps/openapi/.wundergraph/wundergraph.config.ts
  packages/testsuite/apps/openapi/openapi-spec-server.ts
  packages/testsuite/apps/openapi/test-setup.ts
Labels: npm, sdk
